- form = kind == :job_application ? "job_application[user_attributes]" : "user"
%div{ data: { controller: "duplicator"}}
  .fr-grid-row.fr-grid-row--center.d-none{ data: { duplicator: { target: :duplicated }}}
    .fr-col-11
      .fr-grid-row.fr-grid-row--gutters
        .fr-col-12
          - name = "#{form}[department_users_attributes][index][department_id]"
          = label_tag name, "Souhait(s) géographique(s) (département)"
          = select_tag name, options_from_collection_for_select(Department.all, "id", "label"), class: "fr-select", include_blank: true
    .fr-col-1.text-center.fr-mt-4w
      %button.blank_button.fr-fi-delete-line{data: { action: 'click->duplicator#remove' }}
  %div{ data: { duplicator: { target: :root }}}
    - user_form.object.department_users.each_with_index do |department_user, index|
      .fr-grid-row.fr-grid-row--center{ data: { duplicator: { target: :element }}}
        .fr-col-11
          .fr-grid-row.fr-grid-row--gutters
            .fr-col-12
              - name = "#{form}[department_users_attributes][#{index}][department_id]"
              = label_tag name, "Souhait(s) géographique(s) (département)"
              = select_tag name, options_from_collection_for_select(Department.all, "id", "label", selected: department_user.department_id), class: "fr-select", include_blank: true
        .fr-col-1.text-center.fr-mt-4w
          %button.blank_button.fr-fi-delete-line{data: { action: 'click->duplicator#remove' }}

  = button_tag("Ajouter un souhait géographique", type: :button, class: 'fr-btn fr-mb-3w', data: { action: 'click->duplicator#duplicate' })
