= simple_form_for(resource, as: resource_name, url: update_administrator_confirmation_path, html: {method: :patch}) do |f|
  %fieldset.my-3
    %legend
      = @page_title = t('.title')
      - if resource.is_a?(Administrator)
        %small.d-block
          - if %w(bant employer).include?(resource.role)
            = Administrator.human_attribute_name("role.#{resource.role}")
          - if resource.employer
            .d-inline
              = surround '“', '”' do
                = resource.employer.name
  - if @requires_password
    .form-inputs
      .rf-grid-row
        .rf-col-12.rf-col-md-6
          = f.input :first_name, required: false, label: false, placeholder: true, hint: false
        .rf-col-12.rf-col-md-6
          = f.input :last_name, required: false, label: false, placeholder: true, hint: false
      - if resource.is_a?(Administrator)
        .rf-grid-row
          .rf-col-12
            = f.input :title, required: false, label: false, placeholder: true, hint: true
      = f.input :password, required: false, label: false, placeholder: true
      = f.input :password_confirmation, required: false, label: false, placeholder: true
      - if resource.is_a?(Administrator) && resource.employer?
        - %i(supervisor_administrator grand_employer_administrator).each do |submodel|
          .my-2= t(".mention_#{submodel}_html")
          = f.simple_fields_for(submodel, (resource.send(submodel) || Administrator.new)) do |submodel_form|
            - submodel_form.object.ensure_employer_is_set = true
            = submodel_form.input :ensure_employer_is_set, as: :hidden
            .rf-grid-row
              .rf-col-12.rf-col-md-8
                = submodel_form.input :email, required: true, label: false, placeholder: true
              .rf-col-12.rf-col-md-4
                - if submodel == :grand_employer_administrator
                  = submodel_form.association :employer, collection: [resource.employer.parent], label: false, include_blank: false, input_html: {class: 'custom-select'}
                - else
                  = submodel_form.association :employer, collection: [resource.employer], label: false, include_blank: false, input_html: {class: 'custom-select'}
  = hidden_field_tag :confirmation_token, @confirmation_token
  .form-actions
    = f.button :submit, t(".activate"), class: 'btn btn-primary btn-raised'
