= simple_form_for(resource, as: resource_name, url: update_administrator_confirmation_path, html: {method: :patch}) do |f|
  %fieldset.my-3
    %legend
      = @page_title = t('.title')
  - if @requires_password
    .form-inputs
      .rf-grid-row
        .rf-col-12.rf-col-md-6
          = f.input :first_name, required: false, label: false, placeholder: true, hint: false
        .rf-col-12.rf-col-md-6
          = f.input :last_name, required: false, label: false, placeholder: true, hint: false
      = f.input :password, required: false, label: false, placeholder: true
      = f.input :password_confirmation, required: false, label: false, placeholder: true
  = hidden_field_tag :confirmation_token, @confirmation_token
  .form-actions
    = f.button :submit, t(".activate"), class: 'btn btn-primary btn-raised'
