%h2.mb-3= @page_title = t(".sign_up")

- if resource.is_a?(User)
  = render "devise/shared/france_connect"

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .row
    .col-12.col-md-6.pr-md-5
      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true
        = f.input :password_confirmation, required: true
    .col-12.col-md-6.pl-md-5
      .form-inputs
        - if resource.is_a?(User)
          = f.input :first_name, required: true
          = f.input :last_name, required: true
          = f.input :current_position, required: true
          = f.input :phone, required: true
  .row
    .col-12
      .mt-4.mb-3
      - privacy_policy_url = current_organization.privacy_policy_url
      - site_name = current_organization.name
      - business_owner_name = current_organization.name_business_owner
      - label = t('simple_form.labels.user.terms_of_service', link: privacy_policy_url, site_name: site_name, business_owner_name: business_owner_name).html_safe
      = f.input :terms_of_service, as: :boolean, label: label, label_html: { class: 'ml-2' }
      = f.input :certify_majority, as: :boolean, label_html: { class: 'ml-2' }
  .form-actions
    = f.button :submit, t(".sign_up"), class: 'btn btn-primary btn-raised'
  .form-links
    = render "devise/shared/links"
