.rf-text--lead.rf-mb-3w
  = @page_title = t(".sign_up")

- if resource.is_a?(User)
  = render "devise/shared/france_connect"

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  = f.input :email, required: true, autofocus: true
  = f.input :password, required: true
  = f.input :password_confirmation, required: true
  - if resource.is_a?(User)
    = f.input :first_name
    = f.input :last_name
    = f.input :current_position
    = f.input :phone
    = f.input :receive_job_offer_mails
    = f.input :terms_of_service, as: :boolean, label: tos_acceptance_text
    = f.input :certify_majority, as: :boolean
  .rf-input-group.rf-grid-row
    = f.button :submit, t(".sign_up"), class: 'rf-btn btn btn-primary btn-raised'
  = render "devise/shared/links"
