%h1= @page_title = t(".sign_up")
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  = f.input :email, required: true, autofocus: true
  = f.input :password, required: true
  = f.input :password_confirmation, required: true
  - if resource.is_a?(User)
    = f.input :first_name
    = f.input :last_name
    = f.input :current_position
    = f.input :phone
    - privacy_policy_url = current_organization.privacy_policy_url
    - site_name = current_organization.name
    - business_owner_name = current_organization.business_owner_name
    - label = t('simple_form.labels.user.terms_of_service', link: privacy_policy_url, site_name: site_name, business_owner_name: business_owner_name).html_safe
    = f.input :terms_of_service, as: :boolean, label: content_tag('span', label, style: 'display: inline;')
    = f.input :certify_majority, as: :boolean
  .rf-input-group.rf-grid-row.rf-grid-row--center
    = f.button :submit, t(".sign_up"), class: 'rf-btn'
  = render "devise/shared/links"
