.card
  .card-header
    .card-title= t('.title')
  .card-body
    = simple_form_for(@administrator, url: [:admin, :account]) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .form-inputs
        .row
          .col-12.col-md-6
            = f.input :first_name

          .col-12.col-md-6
            = f.input :last_name

        .row
          .col-12.col-md-6
            = f.input :email, placeholder: false, disabled: !@administrator.functional_administrator?

        .row
          .col-12.col-md-6
            = f.input :photo

        .row
          .col-12.col-md-6
            = f.input :roles, as: :string, required: true, disabled: true, input_html: {value: @administrator.roles.map { |role| I18n.t("activerecord.attributes.administrator/roles.#{role}") }.join(', ')}
          - if @administrator.employment_authority?
            .col-12.col-md-6
              %label
                = t('simple_form.labels.administrator.ace_ate')
              .d-flex
                = f.input :ace, disabled: true, wrapper_html: {class: 'mr-3'}
                = f.input :ate, disabled: true

        - unless @administrator.functional_administrator?
          .row
            .col-12.col-md-6
              = f.input :employers, as: :string, required: true, disabled: true, input_html: {value: @administrator.employers.pluck(:code).join(', ')}

        .row
          .col-12.col-md-6
            = f.input :title, placeholder: false, disabled: true

        .row
          .col-12.col-md-6
            = f.input :current_password, placeholder: false

        .row
          .col-12.col-md-6
            = f.input :password, placeholder: false

        .row
          .col-12.col-md-6
            = f.input :password_confirmation, placeholder: false

      .form-actions.text-right.mt-4
        %ul.list-inline.mb-0
          %li.list-inline-item
            = button_tag(type: 'submit', class: 'btn btn-primary btn-raised mb-0') do
              = t('buttons.save')
              = fa_icon('paper-plane', class: 'ml-1')
