%tr
  - if defined?(level)
    %td
      .d-flex
        - if resource_class == Page && level > 0
          .text-light-grey.mr-2{style: 'opacity: 0.6;width:7ch;text-align:right;'}
            - if level == 1
              = "└#{'─' * 5}"
            - elsif level > 1
              = "└#{'─' * 1}"
        - elsif level > 0
          %span.text-light-grey{style: "opacity: 0.6;"}= "└#{'──' * (level-1)}"
        = element.try(:name) || element.try(:title)
  - if resource_class == Employer
    %td
      = element.code
  - elsif resource_class == JobApplicationFileType
    %td
      = element.name
    %td
      = JobApplication.human_attribute_name("state/#{element.from_state}")
    %td
      = JobApplicationFileType.human_attribute_name("kind/#{element.kind}")
    %td
      = element.by_default? ? t('.affirmative') : t('.negative')
  - else
    %td
      = element.try(:title) || element.try(:name)
  - if resource_class.reflect_on_association(:job_offers)
    %td.text-center
      = element.job_offers.publicly_visible.count
  - if resource_class == Page
    %td
      - if level != 0
        = link_to fa_icon('link-variant'), element, title: t('buttons.show'), target: :_blank
  %td.text-right
    .d-flex.flex-row.actions
      - if resource_class == Category
        = link_to fa_icon('plus'), [:new, :admin, :settings, :category, {parent_id: element.id}], title: t('buttons.add_child')
        = link_to fa_icon('arrow-up'), [:move_left, :admin, :settings, element], method: :post, title: t('buttons.move_higher'), data: {confirm: t('buttons.confirm')}
        = link_to fa_icon('arrow-down'), [:move_right, :admin, :settings, element], method: :post, title: t('buttons.move_lower'), data: {confirm: t('buttons.confirm')}
      - elsif resource_class == Page
        = link_to fa_icon('plus'), [:new, :admin, :settings, :page, {parent_id: element.id}], title: t('buttons.add_page_child')
      - if (resource_class == Page && level != 0) || element.has_attribute?(:position)
        - if (resource_class != Page) || (level == 1 && element.left_sibling) || (level > 1)
          = link_to fa_icon('arrow-up'), [:move_higher, :admin, :settings, element], method: :post, title: t('buttons.move_higher'), data: {confirm: t('buttons.confirm')}
        - if (resource_class != Page) || (level == 1 && element.right_sibling) || (level > 1 && !element.leaf?)
          = link_to fa_icon('arrow-down'), [:move_lower, :admin, :settings, element], method: :post, title: t('buttons.move_lower'), data: {confirm: t('buttons.confirm')}
      = link_to fa_icon('pencil'), [:edit, :admin, :settings, element], title: t('buttons.edit')
      - unless resource_class == Page && level == 0
        = link_to fa_icon('delete'), [:admin, :settings, element], method: :delete, title: t('buttons.delete'), data: {confirm: t('buttons.confirm')}
