.card
  .card-body
    = simple_form_for([:admin, :settings, resource]) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .form-inputs
        - if resource.is_a?(EmailTemplate)
          = f.input :title
          = f.input :subject
          = f.input :body
        - else
          = f.input :name
          - if resource.is_a?(Employer)
            = f.input :code
      .form-actions.text-right.mt-4
        %ul.list-inline.mb-0
          %li.list-inline-item
            = link_to(t('buttons.cancel'), collection_url, class: 'btn btn-body-color mb-0')
          %li.list-inline-item
            = button_tag(type: 'submit', class: 'btn btn-primary btn-raised mb-0') do
              = t("buttons.#{ resource.new_record? ? 'add' : 'edit' }")
              = fa_icon('send', class: 'ml-1')
