- @page_title = t("admin.settings.shared.navbar.#{ resource_class.to_s.tableize }")
- resource_symbol = resource_class.to_s.tableize.singularize.to_sym
.card
  - if resource_class == Page && current_organization.pages.root.nil?
    = link_to [:new, :admin, :settings, resource_symbol], class: 'btn btn-primary btn-raised my-5 mx-auto' do
      = fa_icon 'plus', class: 'mr-1'
      = t('buttons.add_first_page')
  - else
    .card-header.border-bottom-0
      .card-title.d-md-flex.align-items-center
        - unless resource_class == Page
          = t("admin.settings.#{ resource_class.to_s.tableize }.index.card_title", count: collection.size)
        - unless resource_class == Page
          = link_to [:new, :admin, :settings, resource_symbol], class: 'btn btn-primary btn-raised ml-auto mt-2 mt-md-0 mb-0' do
            = fa_icon 'plus', class: 'mr-1'
            = t('buttons.add')
    = render partial: 'table'
