- @page_title = @page&.title || t('.title')

- style = current_organization.image_background.present? ? "background-image: url(#{ current_organization.image_background.url });" : nil
.rf-container-fluid.rf-bg--alt.rf-bg--hero-image.d-flex.flex-column.justify-content-center.rf-centered.align-items-center{style: style}
  .rf-col-6
    - if current_organization.logo_vertical_negative.present?
      = image_tag(current_organization.logo_vertical_negative.url, style: 'height:180px;width:auto;')
    %h1.rf-my-0= @page_title

.rf-container.rf-bg--alt-3.block--overlap.rf-py-4w.rounded-lg
  .rf-grid-row.rf-grid-row--center
    %h2.rf-mt-0 Parcours du candidat
  .rf-grid-row.rf-grid-row--center
    = render partial: 'stepper'

.rf-container.rf-mt-6w
  .rf-grid-row.rf-grid-row--center
    %h2.rf-mt-0 Rechercher une offre
  .rf-grid-row.rf-grid-row--center
    = render partial: 'job_offer_search_form'

.rf-container.rf-mt-3w
  .rf-grid-row.rf-grid-row--center
    %h2 Nos offres à la une
  .rf-grid-row.rf-grid-row--gutters
    - for job_offer in @job_offers_selected
      .rf-col-12.rf-col-md-6.rf-col-lg-4
        .rf-card.rounded-lg.zoomable.h-auto
          .rf-card__body
            .rf-text--lg.rf-mb-2w
              = link_to job_offer.title, job_offer, class: "rf-card__link"
            .rf-card__detail.d-flex.align-items-center
              .d-flex.flex-column.w-100
                .rf-mt-1w.d-inline-block.text-truncate{title: job_offer.category.name}
                  = job_offer.category.name
                .rf-mt-1w
                  = [job_offer.contract_type.name, job_offer.duration_contract].join(' ')
                .rf-mt-1w
                  %small.rf-text--sm= job_offer.location
                - if job_offer.published_at.present?
                  %small.rf-mt-2w.rf-text--xs= t('job_offers.job_offer.published_date', time_ago_in_words: time_ago_in_words(job_offer.published_at))

%section.rf-pb-5w.rf-bg--alt-2.block--underlap
  .rf-container
    .rf-grid-row.rf-grid-row--center
      %h2 Nos dernières offres
    .rf-grid-row.rf-grid-row--center.rf-grid-row--gutters
      - for job_offer in @job_offers_last
        .rf-col-12.rf-col-md-6.rf-col-lg-4
          = link_to job_offer.title, job_offer, title: job_offer.title, class: "rf-btn rf-btn--secondary d-inline-block text-truncate w-100"
    .rf-grid-row.rf-grid-row--center.rf-mt-2w
      = link_to "Voir toutes nos offres", :job_offers, class: "rf-btn rf-btn--lg"
