- @page_title = @page&.title || t('.title')
= render partial: 'hero'
= render partial: 'search'
= render partial: 'job_offer_headlines'
= render partial: 'job_offer_last'
= render partial: 'testimony'
