= simple_form_for([:admin, :settings, @administrator]) do |f|
  .card
    .card-header.d-flex.align-items-center
      = image_user_tag @administrator.photo, width: 40, class: 'mr-2'
      - unless @administrator.new_record?
        .card-title.ml-1= @administrator.full_name_with_title
    .card-body
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .form-inputs
        .row
          .col-12.col-md-6
            - roles = current_administrator.authorized_roles_to_confer
            - roles = roles.map{|x| [Administrator.human_attribute_name("role.#{ x }"), x]}
            = f.input :role, collection: roles, prompt: false, include_blank: :translate
        .row
          .col-12.col-md-6
            = f.input :title, required: false
          .col-12.col-md-6
            - if current_administrator.bant?
              - grouped_options = Employer.roots.map{|x| [x.name, x.children]}
              = f.association :employer, collection: grouped_options, as: :grouped_select, group_method: :last, input_html: {class: 'custom-select', id: :administrator_employer_id}
              = f.association :employer, collection: Employer.roots, label: t("simple_form.labels.administrator.grand_employer"), input_html: {class: 'custom-select', id: :administrator_grand_employer_id}
            - else
              - employers = [current_administrator.employer]
              = f.association :employer, collection: employers, input_html: {class: 'custom-select', id: :administrator_employer_id}
              - employers = current_administrator.grand_employer? ? [current_administrator.employer] : [current_administrator.employer.parent]
              = f.association :employer, collection: employers, label: t("simple_form.labels.administrator.grand_employer"), input_html: {class: 'custom-select', id: :administrator_grand_employer_id}
        .row
          .col-12.col-md-6
            = f.input :first_name, required: false, placeholder: false
          .col-12.col-md-6
            = f.input :last_name, required: false, placeholder: false
        .row
          .col-12.col-md-6
            = f.input :email, placeholder: false
      .form-actions.text-right.mt-4
        %ul.list-inline.mb-0
          %li.list-inline-item
            = link_to(t('helpers.submit.administrator.cancel'), [:admin, :settings, :root], class: 'btn btn-body-color mb-0')
          %li.list-inline-item
            = button_tag(type: 'submit', class: 'btn btn-primary btn-raised mb-0') do
              - if @administrator.new_record?
                = t('buttons.invite')
                = fa_icon('paper-plane', class: 'ml-1')
              - else
                = t('buttons.update')
                = fa_icon('floppy-disk', class: 'ml-1')
