- @page_title = t('.title')
= render 'form'
.card.mt-2
  .card-header.d-flex.align-items-center.card-title
    = t('.transfer')
  .card-body
    = form_with url: [:transfer, :admin, :settings, :administrator] do |f|
      .form-inputs
        .row
          .col-12.col-md-6
            .form-group.rf-input-group
              = f.label :transfer_email, t('.transfer_email_label'), class: "form-control-label rf-label"
              = combobox_tag "transfer_email", admin_administrator_emails_path, placeholder: t('simple_form.labels.defaults.email')
        .form-actions.text-right.mt-4
          = f.submit t('.submit'), class: 'btn btn-primary btn-raised'
.card.mt-2
  .card-header.d-flex.align-items-center.card-title
    = t('.list')
  .card-body
    %ul
      - @administrator.job_offers.each do |job_offer|
        %li
          = link_to job_offer.identifier, [:admin, job_offer]
