- @page_title = t('.title')
.card
  .card-header
    .card-title.d-md-flex.align-items-center
      = t('.card_title', count: @administrators_count)
      = link_to [:new, :admin, :settings, :administrator], class: 'btn btn-primary btn-raised ml-auto mt-2 mt-md-0 mb-0' do
        = fa_icon 'plus', class: 'mr-1'
        = t('.add')
  .card-body
    .d-flex
      %ul.nav.nav-tabs{role: :tablist}
        %li.nav-item.mr-3
          - klasses = %i(nav-link text-uppercase my-0)
          - klasses << :active if controller.action_name == "index"
          - url = [:admin, :settings, :root]
          = link_to t('.account_active', count: @administrators_active.size), url, class: klasses
        %li.nav-item.mr-3
          - klasses = %i(nav-link text-uppercase my-0)
          - klasses << :active if controller.action_name == "inactive"
          - url = [:inactive, :admin, :settings, :administrators]
          = link_to t('.account_inactive', count: @administrators_inactive.size), url, class: klasses
  = search_form_for [:admin, :settings, @q], wrapper: :inline_form, html: { class: 'form-inline auto-submit' }, builder: SimpleForm::FormBuilder do |f|
    %table.table.table-hover.mb-0.mt-3
      %thead
        %tr
          %th
            = t('.table.photo')
          %th
            = sort_link(@q, :last_name) do
              = t('.table.name')
          %th
            = t('.table.employer')
          %th
            = t('.table.role')
          %th
            = sort_link(@q, :created_at) do
              = t('.table.created_at')
          %th{style: "width: 70px;"}
        %tr
          %td
          %td
            = f.input :first_name_or_last_name_or_email_cont, as: :string, label: false, input_html: {class: 'w-100'}
          %td
            = f.input :employer_id_eq, collection: Employer.all.map{|e| [e.name.truncate(10, separator: '…'), e.id]}, label: false
          %td
            = f.input :role_eq, collection: Administrator.roles.map{|x,y| [Administrator.human_attribute_name("role.#{ x }"), y]}, label: false, input_html: {class: 'w-100'}
          %td
          %td
      %tbody
        - for administrator in @administrators
          %tr
            %td
              = image_user_tag administrator.photo, width: 40, class: 'mr-2'
            %td
              .text-muted
                = administrator.full_name.truncate(60, separator: '…')
              .text-dark
                = administrator.email.truncate(60, separator: '…')
            %td.text-dark
              = administrator&.employer&.code
            %td
              .badge.badge-light-gray.text-white
                - if administrator.role?
                  = Administrator.human_attribute_name("role.#{administrator.role}")
                - else
                  = t('.no_role')
            %td.text-dark
              .d-block.text-nowrap
                = l administrator.created_at
              %small
                %small
                  .d-block.text-nowrap
                    Dernière conn. :
                    - if administrator.last_sign_in_at
                      = l administrator.last_sign_in_at
                    - else
                      %em= t('.never_connected')
            %td.text-right
              %ul.list-inline.mb-0.actions
                %li.list-inline-item
                  - if can?(:update, administrator)
                    = link_to fa_icon('pencil'), [:edit, :admin, :settings, administrator], title: t('buttons.edit')
                  - unless administrator.confirmed_at.present?
                    - if can?(:manage, administrator)
                      = link_to fa_icon('refresh'), [:resend_confirmation_instructions, :admin, :settings, administrator], method: :postr, title: t('buttons.resend_confirmation_instructions'), data: {confirm: t('buttons.confirm')}
                  - if can?(:deactivate, administrator) && administrator.active?
                    = link_to fa_icon('close'), [:deactivate, :admin, :settings, administrator], method: :post, title: t('buttons.deactivate'), data: {confirm: t('buttons.confirm')}
                  - if can?(:reactivate, administrator) && administrator.inactive?
                    = link_to fa_icon('close'), [:reactivate, :admin, :settings, administrator], method: :post, title: t('buttons.reactivate'), data: {confirm: t('buttons.confirm')}
