- @page_title = t('.title')
.card
  .card-header.border-bottom-0
    .card-title.d-md-flex.align-items-center
      = t('.card_title', count: @administrators.size)
      = link_to [:new, :admin, :settings, :administrator], class: 'btn btn-primary btn-raised ml-auto mt-2 mt-md-0 mb-0' do
        = fa_icon 'plus', class: 'mr-1'
        = t('.add')
  %table.table.table-hover.mb-0.mt-3
    %thead
      %tr
        %th Nom
        %th Email
        %th Rôle
        %th Employeur
        %th Statut
        %th
    %tbody
      - for administrator in @administrators
        %tr
          %td
            = administrator.full_name
          %td
            = administrator.email
          %td
            = Administrator.human_attribute_name('role.'+administrator.role)
          %td
            = administrator&.employer&.code
          %td
            = administrator.confirmed? ? Administrator.human_attribute_name(:confirmed) : Administrator.human_attribute_name(:unconfirmed)
          %td.text-right
            %ul.list-inline.mb-0.actions
              %li.list-inline-item
                = link_to fa_icon('pencil'), [:edit, :admin, :settings, administrator], title: t('buttons.edit')
                = link_to fa_icon('refresh'), [:resend_confirmation_instructions, :admin, :settings, administrator], method: :postr, title: t('buttons.resend_confirmation_instructions'), data: {confirm: t('buttons.confirm')}
                = link_to fa_icon('delete'), [:admin, :settings, administrator], method: :delete, title: t('buttons.delete'), data: {confirm: t('buttons.confirm')}
