- @page_title = t('.title')
.card
  .card-header
    .card-title.d-md-flex.align-items-center
      = t('.card_title', count: @administrators_count)
      = link_to [:new, :admin, :settings, :administrator], class: 'btn btn-primary btn-raised ml-auto mt-2 mt-md-0 mb-0' do
        = fa_icon 'plus', class: 'mr-1'
        = t('.add')
  .card-body
    .d-flex
      %ul.nav.nav-tabs{role: :tablist}
        %li.nav-item.mr-3
          - klasses = %i(nav-link text-uppercase my-0)
          - klasses << :active if controller.action_name == "index"
          - url = [:admin, :settings, :root]
          = link_to t('.account_active', count: @administrators_active.size), url, class: klasses
        %li.nav-item.mr-3
          - klasses = %i(nav-link text-uppercase my-0)
          - klasses << :active if controller.action_name == "inactive"
          - url = [:inactive, :admin, :settings, :administrators]
          = link_to t('.account_inactive', count: @administrators_inactive.size), url, class: klasses
  -if @administrators.size != 0
    %table.table.table-hover.mb-0.mt-3
      %thead
        %tr
          %th
            = t('.table.photo')
          %th
            = t('.table.name')
          %th
            = t('.table.employer')
          %th
            = t('.table.role')
          %th
            = t('.table.last_sign_in_at')
          %th{ :style => "width: 95px;" }
      %tbody
        - for administrator in @administrators
          %tr
            %td
              = image_user_tag administrator.photo, width: 40, class: 'mr-2'
            %td
              .text-muted
                = administrator.full_name_with_title
              .text-dark
                = administrator.email
            %td.text-dark
              = administrator&.employer&.code
            %td
              .badge.badge-light-gray.text-white
                - if administrator.role?
                  = Administrator.human_attribute_name("role.#{administrator.role}")
                - else
                  = t('.no_role')
            %td.text-dark
              - if administrator.last_sign_in_at.present?
                = l administrator.last_sign_in_at
              - else
                %em= t('.never_connected')
            %td.text-right
              %ul.list-inline.mb-0.actions
                %li.list-inline-item
                  - if can?(:update, administrator)
                    = link_to fa_icon('pencil'), [:edit, :admin, :settings, administrator], title: t('buttons.edit')
                  - unless administrator.confirmed_at.present?
                    - if can?(:manage, administrator)
                      = link_to fa_icon('refresh'), [:resend_confirmation_instructions, :admin, :settings, administrator], method: :postr, title: t('buttons.resend_confirmation_instructions'), data: {confirm: t('buttons.confirm')}
                  - if can?(:deactivate, administrator) && administrator.active?
                    = link_to fa_icon('close'), [:deactivate, :admin, :settings, administrator], method: :post, title: t('buttons.deactivate'), data: {confirm: t('buttons.confirm')}
                  - if can?(:reactivate, administrator) && administrator.inactive?
                    = link_to fa_icon('close'), [:reactivate, :admin, :settings, administrator], method: :post, title: t('buttons.reactivate'), data: {confirm: t('buttons.confirm')}
