- @page_title = t("admin.settings.shared.navbar.#{ resource_class.to_s.tableize }")
- resource_symbol = resource_class.to_s.tableize.singularize.to_sym
.card
  .card-header.border-bottom-0
    .card-title.d-md-flex.align-items-center
      = t("admin.settings.#{ resource_class.to_s.tableize }.index.card_title", count: collection.size)
      = link_to [:new, :admin, :settings, resource_symbol], class: 'btn btn-primary btn-raised ml-auto mt-2 mt-md-0 mb-0' do
        = fa_icon 'plus', class: 'mr-1'
        = t('.add_grand_employer')
  %table.table.table-hover.mb-0.mt-3
    %thead
      %tr
        %th= t('.grand_employer')
        %th{style: 'width:120px;'}
        %th= t('.employer')
        %th{style: 'width:120px;'}
    %tbody
      - @grand_employers.each do |grand_employer|
        - employers = grand_employer.children
        %tr
          %td
            .d-flex
              = grand_employer.name
              %ul.list-inline.mb-0.actions.ml-1
                %li.list-inline-item
                  = link_to fa_icon('pencil'), [:edit, :admin, :settings, grand_employer], title: t('buttons.edit')
          %td.text-left
            .d-flex.flex-row.actions
              = link_to fa_icon('arrow-up'), [:move_left, :admin, :settings, grand_employer], method: :post, title: t('buttons.move_higher'), data: {confirm: t('buttons.confirm')}
              = link_to fa_icon('arrow-down'), [:move_right, :admin, :settings, grand_employer], method: :post, title: t('buttons.move_lower'), data: {confirm: t('buttons.confirm')}
              = link_to fa_icon('delete'), [:admin, :settings, grand_employer], method: :delete, title: t('buttons.delete'), data: {confirm: t('buttons.confirm')}
          %td
            = link_to [:new, :admin, :settings, :employer, {parent_id: grand_employer.id}], title: t('.add_employer'), class: 'btn btn-primary btn-raised' do
              = fa_icon('plus')
              = t('.add_employer')
          %td
        - employers.each_with_index do |employer, index|
          %tr
            %td
            %td
            %td
              .d-flex
                = employer.name
                %ul.list-inline.mb-0.actions.ml-1
                  %li.list-inline-item
                    = link_to fa_icon('pencil'), [:edit, :admin, :settings, employer], title: t('buttons.edit')
            %td.text-right
              %ul.list-inline.mb-0.actions
                %li.list-inline-item
                  = link_to fa_icon('arrow-up'), [:move_left, :admin, :settings, employer], method: :post, title: t('buttons.move_higher'), data: {confirm: t('buttons.confirm')}
                  = link_to fa_icon('arrow-down'), [:move_right, :admin, :settings, employer], method: :post, title: t('buttons.move_lower'), data: {confirm: t('buttons.confirm')}
                  = link_to fa_icon('delete'), [:admin, :settings, employer], method: :delete, title: t('buttons.delete'), data: {confirm: t('buttons.confirm')}
