= turbo_frame_tag dom_id(email) do
  .fr-box.fr-mb-5w.fr-pb-5w
    .d-flex.fr-mb-1w
      - if email.automatic_email?
        %em Courriel automatique
      - else
        = email.sender&.full_name
      .ml-auto
        %small.datetime
          = surround 'le ', ' - ' do
            = I18n.l email.created_at, format: :short
          = t('.time_ago', time_ago_in_words: time_ago_in_words(email.created_at))
    %strong= sanitize(email.subject, tags: %w())
    %span= simple_format(sanitize(email.body, tags: %w()))
