.container-fluid.pt-3
  .row 
    .col-12.col-md-10.mx-md-auto
      .card{data: {controller: "remove-recipient add-recipient", add_recipient_search_url_value: admin_job_offer_recipients_path(@job_offer, format: :json)}}
        .card-header.bg-white.font-weight-bold.text-secondary
          = fa_icon('file-document', class: 'text-secondary')
          = t('.title')
        .card-subheader.bg-card-bg
          = render partial: "recipients", locals: { job_offer: @job_offer, job_applications: @job_applications}
        .card-body.bg-white
          = simple_form_for(:email, url: [:admin, :email_templates], method: :get, remote: true, html: {id: :email_template_selector, class: 'auto-submit'}, defaults: { disabled: is_form_disabled? }) do |f|
            .form-inputs
              = f.input :template, required: false, collection: EmailTemplate.all

          = simple_form_for([:admin, @job_offer, @multiple_recipients_email], defaults: { disabled: is_form_disabled? }) do |f|
            = f.error_notification 
            = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

            .form-inputs{id: dom_id(@job_offer, 'job_application_ids')}
              - for job_application in @job_applications
                = render partial: "job_application_id", locals: {job_application: job_application}
              = f.input :subject
              = f.input :body, as: :text
              = f.file_field :attachments, multiple: true

            .form-actions.text-right
              = button_tag(type: 'submit', class: 'btn btn-primary', disabled: is_form_disabled?) do
                = t('buttons.send_to_candidates')
                = fa_icon('send', class: 'ml-1')
