- job_offer = job_application.job_offer
- klass = 'fr-mt-3w' unless job_application_counter == 0
.fr-card.fr-card--horizontal.h-auto{class: klass}
  = link_to [:account, job_application], class: 'fr-card__body' do
    .fr-card__detail
      = t('.created_at', time_ago_in_words: time_ago_in_words(job_application.created_at))
    .fr-card__title
      = job_offer.title
    .fr-card__desc
      .d-flex.flex-row
        .d-flex.flex-column
          %span= [job_offer.contract_type.name, job_offer.duration_contract].join(' ')
          %em= job_offer.location
        .d-flex.flex-column.justify-content-center.align-items-center.text-center.ml-auto
          %span= "Étape #{job_application.end_user_state_number}/#{JobApplication.end_user_states_regrouping.size}"
          %em= JobApplication.human_attribute_name("state/#{job_application.end_user_state}")
