.rf-container
  .rf-grid-row
    = render partial: '/account/job_applications/breadcrumb', locals: {job_application: @job_application}
  .rf-grid-row
    %h2.d-flex.flex-column.rf-mt-0.rf-mb-0
      Votre candidature à l'offre :
      %small= @job_offer.title
  .rf-grid-row.rf-my-3w
    .rf-col-12
      .h5.text-quinary.text-center.mb-4 Suivi de candidature
      = render partial: '/account/job_applications/state_stepper', locals: {job_application: @job_application}
  .rf-tabs
    %ul.rf-tabs__list{role: 'tablist'}
      %li
        - in_use = controller.controller_name == 'job_applications' && controller.action_name  == 'show'
        = link_to [:account, @job_application], class: 'rf-tabs__tab rf-btn rf-btn--icon-left', aria: {controls: 'tabpanel-5', selected: in_use}, role: 'tab', tabindex: in_use ? 0 : -1, title: t('.nav_emails') do
          = t('.nav_emails')
        - if in_use
          #tabpanel-5.rf-tabs__panel{role: :tabpanel, tabindex: in_use ? 0 : -1}
            = render template: '/account/emails/index', locals: {job_application: @job_application}
      %li
        - in_use = controller.controller_name == 'job_application_files' && controller.action_name  == 'index'
        = link_to [:account, @job_application, :job_application_files], class: 'rf-tabs__tab rf-btn rf-btn--icon-left', aria: {controls: 'tabpanel-6', selected: in_use}, role: 'tab', tabindex: in_use ? 0 : -1, title: t('.nav_files', count: 0) do
          = t('.nav_files', count: 0)
        - if in_use
          #tabpanel-6.rf-tabs__panel{role: :tabpanel, tabindex: in_use ? 0 : -1}
            = render partial: '/account/job_application_files/form', locals: {job_application: @job_application}
      %li
        - in_use = controller.controller_name == 'job_applications' && controller.action_name  == 'job_offer'
        = link_to [:job_offer, :account, @job_application], class: 'rf-tabs__tab rf-btn rf-btn--icon-left', aria: {controls: 'tabpanel-7', selected: in_use}, role: 'tab', tabindex: in_use ? 0 : -1, title: t('.nav_offer') do
          = t('.nav_offer')
        - if in_use
          #tabpanel-7.rf-tabs__panel{role: :tabpanel, tabindex: in_use ? 0 : -1}
            = render partial: '/job_offers/job_offer_content', locals: {job_offer: @job_offer}
