.list-group.stepper
  - if can?(:read, Administrator) || can?(:read, Page)
    .list-group-item.menu
      = t(".admin")
    - if can? :read, Administrator
      - entry = 'administrators'
      - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
      - klasses << 'active' if controller.controller_name == entry
      = link_to [:admin, :settings, entry.to_sym], class: klasses do
        = t(".#{ entry }")
  - if can?(:read, Organization) || can?(:read, OrganizationDefault) || can?(:read, Page)
    .list-group-item.menu
      = t(".configuration")
    - if can? :read, Organization
      - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
      - klasses << 'active' if controller.controller_name == 'organizations' && controller.action_name == 'edit'
      = link_to [:edit, :admin, :settings, :organization], class: klasses do
        = t(".organization")
      - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
      - klasses << 'active' if controller.controller_name == 'organizations' && controller.action_name == 'edit_security'
      = link_to [:edit_security, :admin, :settings, :organization], class: klasses do
        = t(".organization_security")
    - if can? :read, OrganizationDefault
      - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
      - klasses << 'active' if controller.controller_name == 'organization_defaults'
      = link_to [:admin, :settings, :organization_defaults], class: klasses do
        = t(".organization_defaults")
    - if can? :read, Page
      - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
      - klasses << 'active' if controller.controller_name == 'pages'
      = link_to [:admin, :settings, :pages], class: klasses do
        = t(".pages")
  - if can? :read, Employer
    .list-group-item.menu
      = t(".company")
    .list-group.stepper
      - entry = 'employers'
      - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
      - klasses << 'active' if controller.controller_name == entry
      = link_to [:admin, :settings, entry.to_sym], class: klasses do
        = t(".#{ entry }")
      - entry = 'cmgs'
      - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
      - klasses << 'active' if controller.controller_name == entry
      = link_to [:admin, :settings, entry.to_sym], class: klasses do
        = t(".#{ entry }")
  - if can? :read, EmailTemplate
    .list-group-item.menu
      = t(".template")
    .list-group.stepper
      - entry = 'email_templates'
      - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
      - klasses << 'active' if controller.controller_name == entry
      = link_to [:admin, :settings, entry.to_sym], class: klasses do
        = t(".#{ entry }")
  - if can? :read, JobApplicationFileType
    .list-group-item.menu
      = t(".job_applications")
    .list-group.stepper
      - entry = 'job_application_file_types'
      - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
      - klasses << 'active' if controller.controller_name == entry
      = link_to [:admin, :settings, entry.to_sym], class: klasses do
        = t(".#{ entry }")
  - entries = JobOffer::SETTINGS.map{|x| x.to_s.pluralize.to_sym}
  - entries += %i[benefits bops salary_ranges rejection_reasons contract_durations foreign_languages foreign_language_levels]
  - if entries.any?{ |entry| can?(:manage, entry.to_s.singularize.classify.constantize) }
    .list-group-item.menu
      = t(".writing_job_offers")
    .list-group.stepper
      - entries.each do |entry|
        - if can? :read, entry.to_s.singularize.classify.constantize
          - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
          - klasses << 'active' if controller.controller_name == entry.to_s
          = link_to [:admin, :settings, entry], class: klasses do
            = t(".#{ entry }")
