.list-group.stepper
  - if can?(:read, Administrator) || can?(:read, Page)
    .list-group-item.menu
      = t(".admin")

    = settings_navbar_item(:administrators)

    - if can? :read, Organization
      - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
      - klasses << 'active' if controller.controller_name == 'organizations' && controller.action_name == 'edit_security'
      = link_to [:edit_security, :admin, :settings, :organization], class: klasses do
        = t(".organization_security")

    = settings_navbar_item(:pages)

  - if can?(:read, Organization) || can?(:read, OrganizationDefault) || can?(:read, Page)
    .list-group-item.menu
      = t(".configuration")

    - if can? :read, Organization
      - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
      - klasses << 'active' if controller.controller_name == 'organizations' && controller.action_name == 'edit'
      = link_to [:edit, :admin, :settings, :organization], class: klasses do
        = t(".organization")

    = settings_navbar_item(:frequently_asked_questions)

    = settings_navbar_item(:user_menu_links)

  .list-group-item.menu
    = t(".job_applications")

  .list-group.stepper
    = settings_navbar_item(:rejection_reasons)

    = settings_navbar_item(:archiving_reasons)

    = settings_navbar_item(:employers)

    = settings_navbar_item(:cmgs)

    = settings_navbar_item(:job_application_file_types)

    = settings_navbar_item(:job_offer_terms)

  - entries = JobOffer::SETTINGS.map{|x| x.to_s.pluralize.to_sym}
  - entries += %i[availability_ranges benefits drawbacks bops salary_ranges contract_durations foreign_languages foreign_language_levels]
  - if entries.any?{ |entry| can?(:manage, entry.to_s.singularize.classify.constantize) }
    .list-group-item.menu
      = t(".writing_job_offers")

    .list-group.stepper
      = settings_navbar_item(:email_templates)

      = settings_navbar_item(:organization_defaults)

      - entries.each do |entry|
        = settings_navbar_item(entry)
