- content_for :content do
  .container-fluid
    .row
      %aside.col-md-2.d-none.d-md-block.bg-white.sidebar
        .sidebar-sticky
          = render '/admin/job_offers/navbar'
      %main.col-md-9.ml-sm-auto.col-lg-10{role: 'main'}
        - unless controller.controller_name == 'job_offers' && %w[show board stats].include?(controller.action_name)
          %nav.navbar.navbar-dark.bg-secondary.mb-3
            %span.navbar-text#step_1= @page_title
        - if @layout_full_width
          .col-12
            = yield
        - else
          .container
            .row
              .col-12.mx-md-auto
                = yield
        = yield :sub_content
= render template: 'layouts/admin'
