.rf-text--lead.rf-mb-3w
  = @page_title = t(".forgot_your_password")
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  = f.input :email, required: true, autofocus: true, label: false, placeholder: true
  .rf-input-group.rf-grid-row
    = f.button :submit, t(".send_me_reset_password_instructions"), class: 'rf-btn'
  = render "devise/shared/links"
