<p>
  <%-if @user.full_name.present? %>
  Bonjour <%= @user.full_name %>,
  <%- else %>
  Bonjour,
  <%- end %>
</p>

<%= simple_format(@body) %>

--
<br/>
Vous recevez ce message parce que vous avez candidaté à l'offre <%= @job_offer.identifier %> “<%= @job_offer.title %>”.
Pour répondre à ce message, vous pouvez répondre à cet email directement ou visiter votre candidature sur la plateforme de recrutement <%= @site_name %> <%= @answer_url %>.

