- job_applications_count = @job_offer.job_applications.count
%hr.mb-5
%h1.h4= t('.title')
%strong.text-quaternary= t('.job_applications_count', count: job_applications_count)
.mt-4
  %strong.text-quaternary.d-block= t('.title_per_gender')
  .pl-3.mt-2
    - total = @per_gender.values.sum
    - @per_gender.each_with_index do |(k, v), index|
      .d-flex.align-items-center.mb-2
        %div{style: 'width: 100px;'}
          - val = PersonalProfile.genders.key(k)
          = PersonalProfile.human_attribute_name("gender/#{val}")
        %div{style: 'width: 100px;'}
          - percentage = (v * 100.0) / total
          = "#{percentage.to_i }%"
        .flex-grow-1
          .bg-quaternary{style: "height:15px; width: #{percentage}%;opacity:0.8;"}
  - if show_stats_debug?
    %code= @per_gender
.mt-4
  %strong.text-quaternary.d-block= t('.title_per_nationality')
  .pl-3.mt-2
    - total = @per_nationality.values.sum
    - @per_nationality.each_with_index do |(k, v), index|
      .d-flex.align-items-center.mb-2
        %div{style: 'width: 100px;'}
          = k
        %div{style: 'width: 100px;'}
          - percentage = (v * 100.0) / total
          = "#{percentage.to_i }%"
        .flex-grow-1
          .bg-quaternary{style: "height:15px; width: #{percentage}%;opacity:0.8;"}
  - if show_stats_debug?
    %code= @per_nationality
