.list{id: "job-application--state-#{state_name}", data: {state: state_name}}
  %header
    = JobApplication.human_attribute_name("state/#{state_name}")
    = surround '(', ')' do
      %span.total= job_applications.size
  .d-flex.flex-column.cards{data: {state: state_name}}
    = render partial: 'job_application', collection: job_applications, locals: {with_header: false}
