- ary = params.dig(:q, :employer_id_in)  || []
.dropdown.dropdown-checks.form-group
  %button.form-control.dropdown-toggle.text-left.d-flex.align-items-center#dropdownEmployeur{type: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}}
    Employeur
    - if ary.any?
      = "(#{ary.size})"
  .dropdown-menu.dropdown-menu-right.allow-focus{aria: {labelledby: 'dropdownEmployeur'}}
    - if current_administrator.bant?
      - grouped_options = Employer.roots.map{|x| [x.name, x.children]}
      %ul
        - for option in grouped_options
          %li
            = option.first
            %ul
              - for sub_option in option.last
                - input_id = dom_id(sub_option)
                %li
                  .form-check.form-check-inline.w-100
                    - checked = ary.include?(sub_option.id)
                    = check_box_tag 'q[employer_id_in][]', sub_option.id, checked, class: 'form-check-input', id: input_id
                    %label.form-check-label.text-truncate.d-block{for: input_id}= sub_option.name
    - else
      -# employers = [current_administrator.employer]
      =# f.association :employer, collection: employers.map{|x| [x.code, x.id]}, disabled: true, include_blank: false
