%nav.navbar.navbar-dark.bg-secondary.my-5
  %span.navbar-text#step_3= t('.card_title')
.container
  .row
    .col-12.col-md-10.mx-md-auto
      .card
        .card-header.with-subheader
          .card-title= t('.card_subtitle')
        - %i(employer grand_employer supervisor_employer brh).each do |actor_role|
          .card-subheader
            .card-title
              = JobOfferActor.human_attribute_name("role.#{ actor_role }")
          .card-body
            .form-inputs
              .row
                .col-12.col-md-8.offset-md-4
                  .fields
                    = f.simple_fields_for(:job_offer_actors, f.object.job_offer_actors.select{|x| x.role == actor_role.to_s}) do |job_offer_actor_form|
                      = render 'job_offer_actor', f: job_offer_actor_form
                  - job_offer_id = @job_offer.new_record? ? nil : @job_offer.id
                  .d-flex.flex-row.form-actor.align-items-start
                    .form-group.mb-0.mr-2.w-100
                      = email_field_tag :email, nil, placeholder: t('simple_form.labels.defaults.email'), class: 'form-control', id: "email_#{actor_role}"
                    = link_to('#', class: 'btn btn-primary btn-raised mb-0 add_fields', data: {url: add_actor_admin_job_offers_url(role: actor_role, job_offer_id: job_offer_id)}) do
                      = t('buttons.add')
                      = fa_icon "plus"
