-# frozen_string_literal: true
- suffix = @job_offer.new_record? ? 'new' : 'edit'
- card_1_title = t(".card_1_title_#{ suffix }")
- card_2_title = t('.card_2_title')
- card_3_title = t('.card_3_title')
.container-fluid
  .row
    %aside.col-md-2.d-none.d-md-block.bg-white.sidebar
      .sidebar-sticky
        .list-group.stepper
          - steps = [card_1_title, card_2_title, card_3_title]
          - steps.each_with_index do |step, index|
            - space, number, title = step.split /(\d)\.\s/
            - klasses = %w(list-group-item d-flex justify-content-between align-items-center)
            - klasses << (index == 0 ? 'active' : 'disabled')
            = link_to "#step_#{index+1}", class: klasses do
              = title.split(" ")[0, 3].join(" ")
              %span.badge.badge-pill= number
    %main.col-md-9.ml-sm-auto.col-lg-10{role: 'main'}
      = simple_form_for([:admin, @job_offer], defaults: { disabled: @job_offer.archived? ? true : nil }) do |f|
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

        %nav.navbar.navbar-dark.bg-secondary.mb-5
          %span.navbar-text#step_1= card_1_title
        .container
          .row
            .col-12.col-md-10.mx-md-auto
              .card
                .card-header
                  .card-title= t('.card_1_1_title')
                .card-body
                  .form-inputs
                    = f.input :title
                    .row
                      .col-12.col-md-6
                        - grouped_options = nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }
                        = f.association :category, collection: grouped_options, disabled: Category.all.select{|x| x.children.count != 0}.map(&:id), input_html: {class: 'custom-select'}
                      .col-12.col-md-3
                        - if current_administrator.bant?
                          - grouped_options = Employer.roots.map{|x| [x.name, x.children]}
                          = f.association :employer, collection: grouped_options, as: :grouped_select, group_method: :last, input_html: {class: 'custom-select'}
                        - else
                          - employers = [current_administrator.employer]
                          = f.association :employer, collection: employers.map{|x| [x.code, x.id]}, disabled: true
                      .col-12.col-md-3
                        = f.input :identifier, input_html: {disabled: true}
                    .row
                      .col-12.col-md-6
                        = f.input :location
                    = f.input :description, input_html: { class: :ckeditor }
                    = f.input :required_profile, input_html: { class: :ckeditor }
                    = f.input :recruitment_process, input_html: { class: :ckeditor }

              .card.mt-5
                .card-header
                  .card-title= t('.card_1_2_title')
                .card-body
                  .form-inputs
                    .row
                      .col-12.col-md-3
                        = f.association :contract_type
                        = f.input :duration_contract, as: :string
                      .col-12.col-md-3
                        = f.input :contract_start_on, as: :string
                      .col-12.col-md-6.pl-md-5
                        = f.input :is_remote_possible, as: :radio_buttons

              .card.mt-5
                .card-header
                  .card-title= t('.card_1_3_title')
                .card-body
                  .form-inputs
                    .row
                      .col-12.col-md-6
                        .row
                          .col-12.col-md-6
                            = f.association :professional_category, input_html: {data: {remote: true, type: :json, url: admin_salary_ranges_url}}
                          .col-12.col-md-6
                            = f.association :study_level
                          .col-12.col-md-6
                            = f.association :experience_level, input_html: {data: {remote: true, type: :json, url: admin_salary_ranges_url}}
                          .col-12.col-md-6
                            = f.association :sector, input_html: {data: {remote: true, type: :json, url: admin_salary_ranges_url}}
                      .col-12.col-md-6.pl-md-5
                        .row
                          - salary_range = SalaryRange.where(professional_category_id: @job_offer.professional_category_id, experience_level_id: @job_offer.experience_level_id, sector_id: @job_offer.sector_id).first
                          .col-12
                            - estimate_monthly_salary_net = salary_range.try(:estimate_monthly_salary_net)
                            - hint = estimate_monthly_salary_net ? t('.estimate_monthly_salary_net_html', value: estimate_monthly_salary_net) : t('.estimate_monthly_salary_net_none_html')
                            = f.input :estimate_monthly_salary_net, readonly: !current_administrator.bant?, hint: hint
                          .col-12
                            - estimate_annual_salary_gross = salary_range.try(:estimate_annual_salary_gross)
                            - hint = estimate_annual_salary_gross ? t('.estimate_annual_salary_gross_html', value: estimate_annual_salary_gross) : t('.estimate_annual_salary_gross_none_html')
                            = f.input :estimate_annual_salary_gross, readonly: !current_administrator.bant?, hint: hint

        %nav.navbar.navbar-dark.bg-secondary.my-5
          %span.navbar-text#step_2= card_2_title
        .container
          .row
            .col-12.col-md-10.mx-md-auto
              .card
                .card-header.with-subheader
                  .card-title= t('.card_2_1_title')
                .card-subheader
                  .card-title
                    = fa_icon('file-document')
                    = t('.card_2_1_1_title')
                .card-body
                  .form-inputs.options
                    - options = JobOffer::FILES
                    - options.each do |option|
                      - collection = JobOffer::OPTIONS_AVAILABLE.symbolize_keys.keys.reverse
                      = f.input "option_#{option}".to_sym, collection: collection, as: :radio_buttons, wrapper: :horizontal_collection_inline
                .card-subheader
                  .card-title
                    = fa_icon('web')
                    = t('.card_2_1_2_title')
                .card-body
                  .form-inputs.options
                    - options = JobOffer::URLS
                    - options.each do |option|
                      - collection = JobOffer::OPTIONS_AVAILABLE.symbolize_keys.keys.reverse
                      = f.input "option_#{option}".to_sym, collection: collection, as: :radio_buttons, wrapper: :horizontal_collection_inline

        %nav.navbar.navbar-dark.bg-secondary.my-5
          %span.navbar-text#step_3= card_3_title
        .container
          .row
            .col-12.col-md-10.mx-md-auto
              .card
                .card-header.with-subheader
                  .card-title= t('.card_3_1_title')

              .form-actions.text-right.my-5
                %ul.list-inline
                  %li.list-inline-item
                    = link_to(t('helpers.submit.job_offer.cancel'), [:admin, :job_offers], class: 'btn btn-link')
                  %li.list-inline-item
                    = button_tag(type: 'submit', class: 'btn btn-primary btn-raised') do
                      = t('helpers.submit.job_offer.save')
                      = fa_icon('save', class: 'ml-1')
                  - events = @job_offer.aasm.events.map(&:name)
                  - events.delete(:archive) if @job_offer.new_record?
                  - events.each do |event_name|
                    %li.list-inline-item
                      - action_prefix = @job_offer.new_record? ? "create" : "update"
                      - action_name = [action_prefix, "and", event_name].join("_")
                      = button_tag(type: 'submit', class: 'btn btn-primary btn-raised', formaction: url_for([action_name, :admin, @job_offer])) do
                        = t("buttons.#{ event_name }")
                        = fa_icon('send', class: 'ml-1')
