%nav.navbar.navbar-dark.bg-secondary.my-5
  %span.navbar-text#step_3= t('.card_title')
.container
  .row
    .col-12.col-md-10.mx-md-auto
      .card
        .card-header.with-subheader
          .card-title= t('.card_subtitle')
        - JobOfferActor.roles.each do |actor_role, weight|
          .card-subheader
            .card-title
              = JobOfferActor.human_attribute_name("role.#{ actor_role }")
          .card-body
            .form-inputs
              .row
                .col-12.col-md-8.offset-md-4
                  .fields
                    = f.simple_fields_for(:job_offer_actors, f.object.job_offer_actors.select{|x| x.role == actor_role.to_s}) do |job_offer_actor_form|
                      = render 'job_offer_actor', f: job_offer_actor_form
                  - job_offer_id = @job_offer.new_record? ? nil : @job_offer.id
                  .d-flex.flex-row.form-actor
                    .form-group.mb-0.mr-2.w-100
                      - if actor_role == 'cmg'
                        - options = options_from_collection_for_select(Cmg.all, 'email', 'email')
                        = select_tag :email, options, include_blank: true, class: 'form-control', id: "email_#{actor_role}"
                      - else
                        = combobox_tag "email", admin_administrator_emails_path, placeholder: t('simple_form.labels.defaults.email'), id: "email_#{actor_role}"
                    - url = add_actor_admin_job_offers_url(role: actor_role, job_offer_id: job_offer_id)
                    - data = { action: "job-offer-management#addFields", url: url}
                    = link_to('#', class: 'btn btn-primary btn-raised mb-0 d-flex flex-row align-items-center', data: data) do
                      = t('buttons.add')
                      = fa_icon "plus", class: 'ml-1'
