.row.mt-4.mb-3
  .col-12
    - url = controller.action_name == 'archived' ? [:archived, :admin, @q] : [:admin, @q]
    = search_form_for url do |f|
      .form-group.input-group.input-search
        .input-group-prepend
          %span.input-group-text.bg-white
            = fa_icon('magnify')
        = text_field_tag :s, params[:s], placeholder: 'Mot-clés'
      .row.mt-2
        .col-12.col-sm-3
          = render partial: 'filter_state'
        .col-12.col-sm-3
          = render partial: 'filter_employer'
        .col-12.col-sm-3
          = render partial: 'filter_contract_type'
        .col-12.col-sm-3
          = render partial: 'filter_most_advanced_job_applications_state'
      .d-flex.flex-row-reverse.align-items-center
        = submit_tag t('buttons.search'), name: nil, class: 'btn btn-primary btn-raised btn-small'
        = link_to 'Réinitialiser', url_for, class: 'mr-3 text-grey text-underline'
    %hr
