%strong.text-quaternary.d-block.mt-4= t('.title')
.pl-3.mt-2
  - total = @per_rejection_reason.values.sum
  - @per_rejection_reason.each_with_index do |(k, v), index|
    .d-flex.align-items-center.mb-2
      - txt = @rejection_reasons.detect{|x| x.id == k}&.name || t('unknown')
      .bar-chart__category_name.text-truncate{title: txt}
        = txt
      .bar-chart__category_percentage
        - percentage = (v * 100.0) / total
        = number_to_percentage(percentage, precision: 2)
      .flex-grow-1
        .bar-chart__bar{style: "width: #{percentage}%;"}
  - if @per_rejection_reason.blank?
    Aucun refus
- if show_stats_debug?
  %code= @per_rejection_reason
