%hr.mb-0
.statistics-row
  .col-12.col-md-3.statistic__block
    .statistic__name
      = t('.title_views_number_html')
    .statistic__value
      = t('non_applicable')
  .col-12.col-md-3.statistic__block
    .statistic__name
      = t('.title_job_applications_number_html')
    .statistic__value
      = @job_applications_count
  .col-12.col-md-3.statistic__block
    .statistic__name
      = t('.title_job_applications_processed_number_html')
    .statistic__value
      - concerned_states = JobApplication.states.keys.delete_if{|x| x =~ /rejected/ }
      = @per_state.values_at(*concerned_states).compact.sum
  .col-12.col-md-3.statistic__block
    .statistic__name
      = t('.title_job_applications_rejected_number_html')
    .statistic__value
      - concerned_states = JobApplication.states.keys.select{|x| x =~ /rejected/ }
      = @per_state.values_at(*concerned_states).compact.sum
%hr.mt-0
