%h1.h2.mt-5.mb-3= t('.title')
%hr.mb-0
.statistics-row
  .col-12.col-md-3.statistic__block
    .statistic__name
      = t('.title_job_applications_processed_number_html')
    .statistic__value.text-success
      = @per_state.values_at(JobApplication.processing_states).compact.sum
  - JobApplication.processing_states.each do |state|
    .col-12.col-md-3.statistic__block
      .statistic__name
        = t(".title_job_applications_#{state}_number_html")
      .statistic__value
        = @per_state.values_at(state).compact.sum
%hr.my-0
.statistics-row
  .col-12.col-md-3.statistic__block
    .statistic__name
      = t('.title_job_applications_all_rejected_number_html')
    .statistic__value.text-danger
      = @per_state.values_at(*JobApplication.rejected_states).compact.sum
  - JobApplication.rejected_states.each do |rejected_state|
    .col-12.col-md-3.statistic__block
      .statistic__name
        = t(".title_job_applications_#{rejected_state}_number_html")
      .statistic__value
        = @per_state.values_at(rejected_state).compact.sum
%hr.mt-0

%strong.text-quaternary.d-block.mt-4= t('.rejection_reasons')
.pl-3.mt-2
  - total = @per_rejection_reason.values.sum
  - @per_rejection_reason.each_with_index do |(k, v), index|
    .d-flex.align-items-center.mb-2
      .bar-chart__category_name
        = @rejection_reasons.detect{|x| x.id == k&.id}&.name || t('unknown')
      .bar-chart__category_percentage
        - percentage = (v * 100.0) / total
        = "#{percentage.to_i }%"
      .flex-grow-1
        .bar-chart__bar{style: "width: #{percentage}%;"}
- if show_stats_debug?
  %code= @per_rejection_reason
