%h1.h5.text-primary.mt-5= t('.title')
%strong.text-quaternary.d-block.mt-4= t('.title_per_gender')
.pl-3.mt-2
  - total = @per_gender.values.sum
  - if total > 0
    - @per_gender.each_with_index do |(k, v), index|
      .d-flex.align-items-center.mb-2
        .bar-chart__category_name
          - if k.present?
            - val = PersonalProfile.genders.key(k)
            = PersonalProfile.human_attribute_name("gender/#{val}")
          - else
            = t('unknown')
        .bar-chart__category_percentage
          - percentage = (v * 100.0) / total
          = "#{percentage.to_i }%"
        .flex-grow-1
          .bar-chart__bar{style: "width: #{percentage}%;"}
  - else
    %em= t('.no_stats')
- if show_stats_debug?
  %code= @per_gender

%strong.text-quaternary.d-block.mt-4= t('.title_per_age_range')
.pl-3.mt-2
  - total = @per_age_range.values.sum
  - if total > 0
    - @per_age_range.each_with_index do |(k, v), index|
      .d-flex.align-items-center.mb-2
        .bar-chart__category_name
          - if k.present?
            - range = @age_ranges.detect{|x| x.id == k}
            = range.name
          - else
            = t('unknown')
        .bar-chart__category_percentage
          - percentage = (v * 100.0) / total
          = "#{percentage.to_i }%"
        .flex-grow-1
          .bar-chart__bar{style: "width: #{percentage}%;"}
  - else
    %em= t('.no_stats')
- if show_stats_debug?
  %code= @per_age_range

.statistics-row.mt-5
  .col-12.col-md-3.statistic__block
    .statistic__name
      = t('.title_new_job_applications_experiences_fit_job_offer_number_html')
    .statistic__value
      - experiences_fit_job_offer_count = @per_experiences_fit_job_offer[true] || 0
      - if @job_applications_count > 0 && experiences_fit_job_offer_count > 0
        - percentage = (experiences_fit_job_offer_count * 100.0) / @job_applications_count
        = number_to_percentage(percentage, precision: 0)
      - else
        = t('non_applicable')
  .col-12.col-md-3.statistic__block
    .statistic__name
      = t('.title_job_applications_has_corporate_experience_number_html')
    .statistic__value
      - has_corporate_experience_count = @per_has_corporate_experience[true] || 0
      - if @job_applications_count > 0 && has_corporate_experience_count > 0
        - percentage = (has_corporate_experience_count * 100.0) / @job_applications_count
        = number_to_percentage(percentage, precision: 0)
      - else
        = t('non_applicable')
  .col-12.col-md-3.statistic__block
    .statistic__name
      = t('.title_job_applications_is_currently_employed_number_html')
    .statistic__value
      - is_currently_employed_count = @per_is_currently_employed[true] || 0
      - if @job_applications_count > 0 && is_currently_employed_count > 0
        - percentage = (is_currently_employed_count * 100.0) / @job_applications_count
        = number_to_percentage(percentage, precision: 0)
      - else
        = t('non_applicable')
