%h2.h5.text-primary.mb-0.mt-5= t('.title')
.statistics-row.mt-4
  .col-12.col-md-3.statistic__block
    .statistic__name
      = t('.title_job_applications_processed_number_html')
    .statistic__value.text-success
      = @per_state.values_at(JobApplication.processing_states).compact.sum
  - JobApplication.processing_states.each do |state|
    .col-12.col-md-3.statistic__block
      .statistic__name
        = t(".title_job_applications_#{state}_number_html")
      .statistic__value
        = @per_state.values_at(state).compact.sum
