- @layout_full_width = true
- @page_title = t('.title', job_offer_identifier: @job_offer.identifier)
= render partial: '/admin/job_offers/navbar_job_offer'
- draggable = can? :manage, @job_applications.values.flatten.first
.board#board{data: {draggable: draggable}}
  .lists
    - JobApplication.aasm.states.each do |state|
      - state_name = state.name.to_s
      - concerned_job_applications = @job_applications[state_name] || []
      .list{id: "job-application--state-#{state_name}", data: {state: state_name}}
        %header
          = JobApplication.human_attribute_name("state/#{state_name}")
          = surround '(', ')' do
            %span.total= concerned_job_applications.size
        .d-flex.flex-column.cards{data: {state: state_name}}
          = render partial: '/admin/job_applications/job_application', collection: concerned_job_applications, locals: {with_header: false}

.modal.fade#remoteContentModal{tabindex: -1, role: :dialog, aria: {labelledby: :remoteContentModal, hidden: true}}
  .modal-dialog.modal-lg{role: :document}
    .modal-content
      .modal-body.p-0
