- @page_title = t('.title')
.card
  .card-body
    .d-flex.flex-column.flex-md-row.align-items-start.align-items-md-center
      .h3.text-primary.mr-auto= t(".job_offers_count_#{controller.action_name}", count: @job_offers_unfiltered.count)
      - if can? :create, JobOffer
        - if current_organization.job_offer_term?
          = link_to [:admin, :job_offer_terms], class: 'btn btn-primary btn-raised mb-0 mt-3 mt-md-0 ml-auto' do
            = fa_icon 'plus', class: 'mr-1'
            = t('.new_job_offer')
        - else
          = link_to [:init, :admin, :job_offers], method: :post, class: 'btn btn-primary btn-raised mb-0 mt-3 mt-md-0 ml-auto' do
            = fa_icon 'plus', class: 'mr-1'
            = t('.new_job_offer')
    = render partial: 'search'
    = form_tag(exports_admin_job_offers_url, target: "_blank", data: {controller: "selectall"}) do
      .d-flex.align-items-end{data: { controller: 'subcheckbox'}}
        %label.h5.text-primary.mr-auto
          = t('.job_offers_filtered', count: @job_offers_filtered.count)
        = sort_link(@q, :created_at, {}, {class: %w[btn btn-link mb-0]}) do
          Date de création
          - unless @q.sorts.detect{|x| x.name == 'created_at'}
            &nbsp;▼
      .row
        .col-12
          %label
            = check_box_tag "select_all", nil, nil, data: {action: "change->selectall#change"}, class: 'mr-2'
            Tout sélectionner

      .row{data: { controller: 'subcheckbox'}}
        .col-12
          - if @job_offers_filtered.any?
            .row
              .col-auto.align-self-center.text-center
                %label
                  = check_box_tag nil, nil, nil, data: {action: "change->subcheckbox#propagate_downward", "subcheckbox-target": "upcheckbox", "selectall-target": "page"}, class: 'mr-2'
                  Sélectionner la page
            .row
              .col
                .card.bg-transparent.ml-4
                  .card-body
                    .row
                      .col-5.text-truncate.font-weight-bold.text-primary
                        Métier
                      .col-1.text-truncate.font-weight-bold.text-primary
                        BOP
                      .col-1.text-truncate.font-weight-bold.text-primary
                        Employeur
                      .col-1.text-truncate.font-weight-bold.text-primary
                        Secteur
                      .col-1.text-truncate.font-weight-bold.text-primary
                        Type
                      .col-1.text-truncate.font-weight-bold.text-primary
                        Candidats
                      .col-2.text-truncate.font-weight-bold.text-primary
                        Étape
            = render partial: 'job_offer', collection: @job_offers_filtered, locals: { list: true}
            .mt-5
              = will_paginate @job_offers_filtered, params: { controller: 'job_offers', action: controller.action_name }
            .text-right
              = button_tag 'Exporter', type: "submit", class: "btn btn-primary btn-raised"
          - else
            %em Aucun résultat
