- @page_title = t('.title')
.card
  .card-body
    .d-flex.flex-column.flex-md-row.align-items-start.align-items-md-center
      .h3.text-primary.mr-auto= t(".job_offers_count_#{controller.action_name}", count: @job_offers_unfiltered.count)
      - if can? :create, JobOffer
        = link_to [:new, :admin, :job_offer], class: 'btn btn-primary btn-raised mb-0 mt-3 mt-md-0 ml-auto' do
          = fa_icon 'plus', class: 'mr-1'
          = t('.new_job_offer')
    = render partial: 'search'
    .d-flex.align-items-end
      - if params[:q].present?
        .h5.text-primary.mr-auto= t('.job_offers_filtered', count: @job_offers_filtered.count)
      - else
        .mr-auto
      - klasses = %w[btn btn-link mb-0]
      = sort_link(@q, :created_at, {}, {class: klasses}) do
        Date de création
        - unless @q.sorts.detect{|x| x.name == 'created_at'}
          &nbsp;▼
    .row
      .col-12
        - if @job_offers_filtered.any?
          = form_tag(export_admin_job_offers_url, data: { controller: 'subcheckbox'}) do
            .row
              .col-auto.align-self-center.text-center
                = check_box_tag :select_all, nil, nil, data: {action: "change->subcheckbox#propagate_downward", "subcheckbox-target": "upcheckbox"}
              .col
                .card.bg-transparent
                  .card-body
                    .row
                      .col-6.text-truncate.font-weight-bold.text-primary
                        Métier
                      .col-1.text-truncate.font-weight-bold.text-primary
                        BOP
                      .col-1.text-truncate.font-weight-bold.text-primary
                        Employeur
                      .col-1.text-truncate.font-weight-bold.text-primary
                        Secteur
                      .col-1.text-truncate.font-weight-bold.text-primary
                        Type
                      .col-1.text-truncate.font-weight-bold.text-primary
                        Candidats
                      .col-1.text-truncate.font-weight-bold.text-primary
                        Étape
            = render partial: 'job_offer', collection: @job_offers_filtered, locals: { list: true}
            .mt-5
              = will_paginate @job_offers_filtered, params: { controller: 'job_offers', action: controller.action_name }
            = submit_tag 'Exporter', class: "btn btn-primary btn-raised"
        - else
          %em Aucun résultat
