- @page_title = t('.title')
.card
  .card-body
    .d-flex.flex-column.flex-md-row.align-items-start.align-items-md-center
      %ul.nav.nav-tabs.mr-auto{role: :tablist}
        %li.nav-item.mr-3
          - klasses = %i(nav-link text-uppercase my-0)
          - klasses << :active unless @archived_page
          - url = [:admin, :job_offers]
          - url << {q: params[:q]} if params[:q].present?
          = link_to t('.active', count: @job_offers_active.values.flatten.size), url, class: klasses
        %li.nav-item.mr-3
          - klasses = %i(nav-link text-uppercase my-0)
          - klasses << :active if @archived_page
          - url = [:archived, :admin, :job_offers]
          - url << {q: params[:q]} if params[:q].present?
          = link_to t('.archived', count: @job_offers_archived.values.flatten.size), url, class: klasses
      - if can? :create, JobOffer
        = link_to [:new, :admin, :job_offer], class: 'btn btn-primary btn-raised mb-0 mt-3 mt-md-0' do
          = fa_icon 'plus', class: 'mr-1'
          = t('.new_job_offer')
    = render partial: 'search'
    .row
      .col-12
        - if @job_offers.any?
          - @employers.each do |employer|
            - job_offers = @job_offers[employer.id]
            - if job_offers.present? && job_offers.any?
              %h2.h6.text-uppercase.mt-4.mb-2= employer.name
              = render partial: 'job_offer', collection: job_offers, as: :job_offer
        - else
          %em Aucun résultat
