- @page_title = @job_offer.title
%nav.navbar.navbar-dark.bg-secondary.justify-content-start
  %span.navbar-text= @page_title
  = link_to [:edit, :admin, @job_offer], class: 'small ml-3' do
    = fa_icon('pencil')
    = t('buttons.edit')
.board
  .lists
    - JobApplication.aasm.states.each do |state|
      - state_name = state.name.to_s
      - concerned_job_applications = @job_applications[state_name] || []
      .list
        %header
          = JobApplication.human_attribute_name("state/#{state_name}")
          = surround '(', ')' do
            = concerned_job_applications.size
        .d-flex.flex-column
          = render partial: '/admin/job_applications/job_application', collection: concerned_job_applications, locals: {with_header: false}
