.card
  .card-body
    - action_text = nil
    - action_text = 'new' if %w[new create].include?(controller.action_name)
    - action_text = 'edit' if %w[edit update].include?(controller.action_name)
    %h4.mb-3= t(".title_#{action_text}")
    = simple_form_for([:admin, resource]) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .form-inputs
        = f.input :name
        = f.input :note
      .form-actions.text-right.mt-4
        %ul.list-inline.mb-0
          %li.list-inline-item
            = link_to(t('buttons.cancel'), collection_url, class: 'btn btn-body-color mb-0')
          %li.list-inline-item
            = button_tag(type: 'submit', class: 'btn btn-primary btn-raised mb-0') do
              = t("buttons.#{ resource.new_record? ? 'add' : 'edit' }")
              = fa_icon('send', class: 'ml-1')
