- @page_title = t('.title', name: @preferred_users_list.name)
.card
  .card-header
    .d-flex.align-items-center
      .h4.text-primary.d-md-flex.align-items-center.mr-auto
        = t('.preferred_users_html', count: @preferred_users.count, list_name: @preferred_users_list.name)
      = link_to [:edit, :admin, :preferred_users_list], class: 'btn btn-primary btn-raised' do
        = t('buttons.edit')
    = render partial: 'search'
    .d-flex.align-items-end
      .h5.text-primary.mr-auto
        = t('.preferred_users_filtered', count: @preferred_users_filtered.count)
      - klasses = %w[btn btn-link mb-0]
      = sort_link(@q, :created_at, {}, {class: klasses}) do
        Date de création
        - unless @q.sorts.detect{|x| x.name == 'created_at'}
          &nbsp;▼
    .row
      .col-12
        - if @preferred_users_filtered.any?
          .card.bg-transparent
            .card-body
              .row
                .col-12.user-full-name
                  Nom
                .col-12.personal-profile-current-position
                  Métier
                .col-12.personal-profile-is-currently-employed
                  Statut
                .col-12.user-job-applications-count
                  Candidatures
                .col-12.personal-profile-address-short
                  Secteur
          = render partial: '/admin/preferred_users/preferred_user', collection: @preferred_users_filtered
          .mt-5
            = will_paginate @preferred_users_filtered, params: { controller: 'users', action: controller.action_name }
        - else
          %em Aucun résultat
