- @page_title = t('.title', name: @preferred_users_list.name)
.card
  .card-header
    .d-flex.align-items-center
      .h4.text-primary.d-md-flex.align-items-center.mr-auto
        = t('.preferred_users_html', count: @preferred_users.count, list_name: @preferred_users_list.name)
      = link_to export_admin_preferred_users_list_path(@preferred_users_list, format: :xlsx), class: 'btn btn-primary btn-raised', target: "_blank" do
        = "Exporter XLSX"
      = link_to export_admin_preferred_users_list_path(@preferred_users_list, format: :zip), class: 'btn btn-primary btn-raised ml-4', target: "_blank" do
        = "Exporter PDF"
      = link_to [:edit, :admin, :preferred_users_list], class: 'btn btn-primary btn-raised ml-4' do
        = t('buttons.edit')
      = link_to [:admin, @preferred_users_list], method: :delete, data: {confirm: t('buttons.confirm'), turbolinks: false}, class: 'btn btn-danger btn-raised ml-4' do
        = t('buttons.delete')
    = render partial: 'search'

    = form_tag [:send_job_offer, :admin, @preferred_users_list] do
      .row.mt-2.mb-3
        .col-4
          = label_tag "job_offer_identifier", "Envoyer une offre par email aux candidats", class: "form-control-label"
        .col-3
          = text_field_tag 'job_offer_identifier', nil, class: "form-control", placeholder: "Référence de l'offre", required: true
        .col-2
          = submit_tag 'Envoyer', class: 'btn btn-primary btn-raised'

    .d-flex.align-items-end
      .h5.text-primary.mr-auto
        = t('.preferred_users_filtered', count: @preferred_users_filtered.count)
      - klasses = %w[btn btn-link mb-0]
      = sort_link(@q, :created_at, {}, {class: klasses}) do
        Date de création
        - unless @q.sorts.detect{|x| x.name == 'created_at'}
          &nbsp;▼
    .row
      .col-12
        - if @preferred_users_filtered.any?
          .card.bg-transparent
            .card-body
              .row
                .col-12.user-full-name
                  Nom
                .col-12.personal-profile-current-position
                  Métier
                .col-12.personal-profile-is-currently-employed
                  Statut
                .col-12.user-job-applications-count
                  Candidatures
                .col-12.personal-profile-address-short
                  Secteur
          = render partial: 'user', collection: @preferred_users_filtered
          .mt-5
            = will_paginate @preferred_users_filtered, params: { controller: 'users', action: controller.action_name }
        - else
          %em Aucun résultat
