%header.rf-header{role: "banner"}
  .rf-container
    .rf-header__body
      .rf-header__brand.d-flex
        = link_to root_path, title: strip_tags(current_organization.brand_name), class: 'rf-logo' do
          %span.rf-logo__title
            = simple_format(current_organization.brand_name, nil, wrapper_tag: 'span')
      - if current_organization.operator_logo.present?
        .rf-header__operator
          = image_tag(current_organization.operator_logo.url, alt: current_organization.operator_name, style: 'width:auto; height:2.5rem;')
      .rf-header__navbar
        .rf-service
          =  link_to root_path, title: current_organization.service_name, class: 'rf-service__title' do
            = current_organization.service_name
          - if (desc = current_organization.service_description_short).present?
            %p.rf-service__tagline
              = desc
      .rf-header__tools
        .rf-shortcuts
          %ul.rf-shortcuts__list
            %li.rf-shortcuts__item
              - if user_signed_in?
                = link_to [:account, :job_applications] do
                  .d-flex.flex-column
                    = image_user_tag current_user.photo, width: 40
                    %small= current_user.full_name
                = button_to t('.logout'), destroy_user_session_path, method: :delete
              - else
                = link_to t(".account_root"), [:account, :job_applications], class: %w[rf-link rf-fi-account-line]
  - unless controller.class.module_parent == Account
    .rf-container
      %nav.rf-nav{"aria-label" => "Menu principal", role: "navigation"}
        %ul.rf-nav__list
          - klass = current_page?(root_path) ? 'rf-nav__item--active' : nil
          %li.rf-nav__item{class: klass}
            = link_to "Accueil", root_path, class: 'rf-link'
          - klass = controller.controller_name == 'job_offers' && controller.action_name == 'index' ? 'rf-nav__item--active' : nil
          %li.rf-nav__item{class: klass}
            = link_to "Nos offres", job_offers_path, class: 'rf-link'
