- nav_items = %w(job_offers)
%nav.navbar.navbar-expand-md.navbar-light.bg-white
  %button.navbar-toggler.p-0.border-0{type: :button, data: {toggle: 'offcanvas'}}
    %span.navbar-toggler-icon
  = link_to root_path, class: "navbar-brand py-0" do
    = image_tag(asset_pack_path("images/republique_francaise.svg"))
  .collapse.navbar-collapse.offcanvas-collapse.ml-md-5
    %ul.navbar-nav.ml-auto
      - nav_items.each do |item|
        %li.nav-item
          = link_to t(".#{item}"), [item.to_sym], class: "nav-link text-dark-gray"
.bg-secondary
.bg-quaternary
%aside.offcanvas-collapse
  .drawer
    %ul.list-group
      - nav_items.each do |item|
        - klass = %w(list-group-item)
        - klass << 'active' if controller.controller_name == item
        = link_to t(".#{item}"), [item.to_sym], class: klass
      %li.nav-item
        = link_to t('.account'), root_path, class: "nav-link"
      %li.nav-item
        = link_to t('.logout'), destroy_user_session_path, method: :delete, class: "nav-link"
