%h2= t('.title')
= simple_form_for(@user_for_password_change, url: [:update_password, :account, :user], method: :patch, html: { class: 'rf-box rf-mb-5w rf-pb-5w' }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :current_password, placeholder: false
    = f.input :password, placeholder: false
    = f.input :password_confirmation, placeholder: false
  .rf-input-group.rf-grid-row.justify-content-end.rf-mt-3w
    = button_tag(type: 'submit', class: 'rf-btn') do
      = t('buttons.save')
