%h2.rf-h3= t('.title')
= simple_form_for(@user_for_email_change, url: [:update_email, :account, :user], method: :patch, html: { class: 'rf-box rf-mb-5w rf-pb-5w' }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :email, placeholder: false, input_html: {value: ''}
  .rf-input-group.rf-grid-row.justify-content-end.rf-mt-3w
    = button_tag(type: 'submit', class: 'rf-btn') do
      = t('buttons.save')
