.card
  .card-header
    .card-title= t('.title')
  .card-body
    = simple_form_for(@user_for_email_change, url: [:update_email, :account, :user], method: :patch) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .form-inputs
        = f.input :email, placeholder: false, input_html: {value: ''}
      .form-actions.text-right.mt-4
        %ul.list-inline.mb-0
          %li.list-inline-item
            = button_tag(type: 'submit', class: 'btn btn-primary btn-raised mb-0') do
              = t('buttons.save')
              = fa_icon('send', class: 'ml-1')
