.rf-container
  .rf-grid-row
    .rf-col-12
      %h2.rf-h3= t('.title')
      .rf-box.rf-mb-5w.rf-pb-5w
        = simple_form_for(@user, url: [:account, :user], method: :patch) do |f|
          = f.error_notification
          .form-inputs
            = f.input :gender, collection: enum_options_for_select(User, :gender), input_html: { class: "rf-select" }, label_required: true, include_blank: false
            = f.input :first_name
            = f.input :last_name
            = f.input :phone
            = f.input :website_url
            = render partial: '/department_users/form', locals: { user_form: f, kind: :user }
            = f.input :photo
            - if @user.photo.present?
              = f.input :delete_photo, as: :boolean
              = image_user_tag(@user.photo, class: 'avatar-xl')
          .rf-input-group.rf-grid-row.justify-content-end.rf-mt-3w
            = f.button :submit, t('buttons.save'), class: 'rf-btn'
