.card
  .card-header
    .card-title= t('.title')
  .card-body
    = simple_form_for(@user_for_password_change, url: [:set_password, :account, :user], method: :patch) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      %p Ce mot de passe n’est pas celui du compte que vous utilisez pour vous connecter via FranceConnect. Il vous servira uniquement lorsque vous vous connecterez avec votre adresse email plutôt que via FranceConnect.
      .form-inputs
        = f.input :password, placeholder: false
        = f.input :password_confirmation, placeholder: false
      .form-actions.text-right.mt-4
        %ul.list-inline.mb-0
          %li.list-inline-item
            = button_tag(type: 'submit', class: 'btn btn-primary btn-raised mb-0') do
              = t('buttons.save')
              = fa_icon('send', class: 'ml-1')
