.container
  .row
    .col-12.col-md-6.mt-4
      - if current_user.link_to_omniauth?
        = render template: '/account/users/set_password'
      - else
        = render template: '/account/users/change_password'
    .col-12.col-md-6.mt-4
      = render template: '/account/users/change_email'
    .col-12.col-md-6.mt-4
      = render template: '/account/users/want_destroy'
    .col-12.col-md-6.mt-4
      = render template: '/account/users/link_france_connect'
