.alert.alert-danger
  %h2.fr-h3.fr-mt-0.fr-mb-0= t('.title')
%p
  La suppression de votre compte est <strong>irréversible</strong> : toutes vos candidatures et données personnelles seront supprimées.
= simple_form_for(@user_for_deletion, url: [:account, :user], method: :delete, html: { class: 'fr-box fr-mb-5w fr-pb-5w' }) do |f|
  = f.input :current_password, placeholder: false, label: "Pour supprimer votre compte, veuillez entrer votre mot de passe :"
  .fr-input-group.fr-grid-row.justify-content-end.fr-mt-3w
    = button_tag(type: 'submit', class: 'fr-btn') do
      = t('.destroy')
