<p>
  Bonjour <%= @administrator.full_name %>,
</p>

<p>Vous êtes notifié comme « Employeur » sur la plateforme E-recrutement.</p>
<p>Découvrez ci-dessous votre rapport journalier.</p>

<% @sections.each do |section| %>
  <h3><%= section.human_state %></h3>
  <% if section.items.any? %>
    <ul>
      <% section.items.each do |item| %>
        <li>
          <%= link_to item.title, item.link %>
          <% if item.applications_count %>
            <br>
            <span style="color: #999;"><%= t("reports.sections.applications_count", count: item.applications_count) %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<p>Cordialement,</p>
<p>L'équipe <%= @service_name %></p>
