<p>
  Bonjour <%= @administrator.full_name %>,
</p>

<p>Vous êtes notifié comme « Autorité d'emploi » sur la plateforme E-recrutement.</p>
<p>Découvrez ci-dessous votre rapport hebdomadaire – semaine du <%= l(@week_starts_on, format: "%d/%m/%Y") %>.</p>

<% @sections.each do |section| %>
  <h3><%= section.human_state %></h3>
  <% if section.items.any? %>
    <ul>
      <% section.items.each do |item| %>
        <li>
          <%= link_to item.title, item.link %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<p>Cordialement,</p>
<p>L'équipe <%= @service_name %></p>
