%h1.h5.text-primary.mt-4= t('.title_1')
.statistics-row.mt-3
  - %w[selected phone_meeting_gt].each do |set_name|
    .col-12.col-md-3.statistic__block
      .statistic__name
        = t(".title_job_applications_#{set_name}_number_html")
      .statistic__value.text-success
        = @per_state.values_at(*JobApplication.send("#{set_name}_states".to_sym)).compact.sum
  - %w[affected].each do |state|
    .col-12.col-md-3.statistic__block
      .statistic__name
        = t(".title_job_applications_#{state}_number_html")
      .statistic__value
        = @per_state.values_at(state).compact.sum
%h1.h5.text-primary.mt-4= t('.title_2')
.statistics-row.mt-3
  .col-12.col-md-3.statistic__block
    .statistic__name
      = t('.title_job_applications_all_rejected_number_html')
    .statistic__value.text-danger
      = @per_state.values_at(*JobApplication.rejected_states).compact.sum
  - JobApplication.rejected_states.each do |rejected_state|
    .col-12.col-md-3.statistic__block
      .statistic__name
        = t(".title_job_applications_#{rejected_state}_number_html")
      .statistic__value
        = @per_state.values_at(rejected_state).compact.sum
