- @page_title = t('.title')
.card
  .card-header
    = render partial: 'search'
    .card.mt-2
      .card-body
        %strong.text-secondary #{@job_applications_count} candidatures
        = render partial: 'date_pickers'
        = render partial: 'graph'
        = render partial: 'stats_job_applications'
        = render partial: '/admin/job_offers/stats_job_applications_rejection_reasons'
        = render partial: '/admin/job_offers/stats_applicants'
        = render partial: 'state_duration'
    = link_to "Exporter", [:admin, :stats, :job_applications, @permitted_params.to_h.merge(format: :xlsx)], target: "_blank", class: "btn btn-primary btn-raised mt-3 float-right"
