<div
  id="city-<%= city.id %>"
  data-name="<%= city.name %>"
  data-postcode="<%= city.postcode %>"
  data-county-code="<%= city.county_code %>"
  data-county="<%= city.county %>"
  data-region="<%= city.region %>"
  data-country-code="<%= city.country_code %>"
>
  <%= city.label %>
  <span class="text-grey">
    <%= city.context %>
  </span>
</div>
