- @page_title = t(".sign_in.#{ resource.class.to_s.downcase }")
- if resource.is_a?(User)
  %p.text-center
    Vous avez déjà un espace candidat, identifiez-vous.
= simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :input_group) do |f|
  .form-inputs
    = f.input :email, required: false, autofocus: true, label: false, placeholder: true
    = f.input :password, required: false, label: false, placeholder: true, hint: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, t(".sign_in.#{ resource.class.to_s.downcase }"), class: 'btn btn-primary btn-raised'
  .form-links
    = render "devise/shared/links"

