- @page_title = t(".sign_in.#{ resource.class.to_s.downcase }")
.fr-text--lead.fr-mb-3w
  - if resource.is_a?(User)
    Vous avez déjà un espace candidat ?
    %br
    Identifiez-vous !
  - elsif resource.is_a?(Administrator)
    %h1.h4 Connexion espace recruteur
- if resource.is_a?(User)
  = render "devise/shared/france_connect"
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.error_notification
  = f.input :email, required: false, autofocus: true
  = f.input :password, required: false, hint: false
  = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .fr-input-group
    = f.button :submit, t(".sign_in.#{ resource.class.to_s.downcase }"), class: 'fr-btn btn btn-primary btn-raised'
  = render "devise/shared/links"
