- @page_title = t(".sign_in")
= simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :input_group) do |f|
  .form-inputs
    = f.input :email, required: false, autofocus: true, label: false, placeholder: true, prepend: fa_icon('email')
    = f.input :password, required: false, label: false, placeholder: true, prepend: fa_icon('key')
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = render "devise/shared/links"
    = f.button :submit, t(".sign_in"), class: 'btn btn-primary btn-raised'

