.card
  .card-header
    .card-title= t('.title')
  .card-body
    = simple_form_for(@organization_form_display, url: [:update_display, :admin, :settings, :organization], method: :patch) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .row
        .col-12.col-md-6
          = f.input :logo_vertical
          = f.input :logo_horizontal
          = f.input :logo_vertical_negative
          =# f.input :logo_horizontal_negative not used ATM
          = f.input :image_background
        .col-12.col-md-6
          %strong= t('help')
          .row.mt-2
            .col-12.col-md-6
              = image_pack_tag('media/images/capture-front.png', class: 'img-fluid')
            .col-12.col-md-6
              = image_pack_tag('media/images/capture-signin.png', class: 'img-fluid')
      .row.mt-4
        = button_tag(type: 'submit', class: 'btn btn-primary btn-raised mb-0 ml-auto') do
          = t('buttons.save')
