.card
  .card-body
    = simple_form_for([:admin, :settings, @organization]) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .form-inputs
        = f.input :name
        = f.input :name_business_owner
        = f.input :administrator_email_suffix
        = f.input :subdomain
        = f.input :domain
        = f.input :logo_vertical
        = f.input :logo_horizontal
        = f.input :logo_vertical_negative
        = f.input :logo_horizontal_negative
        = f.input :image_background
      .form-actions.text-right.mt-4
        %ul.list-inline.mb-0
          %li.list-inline-item
            = button_tag(type: 'submit', class: 'btn btn-primary btn-raised mb-0') do
              = t("buttons.#{ @organization.new_record? ? 'add' : 'edit' }")
              = fa_icon('send', class: 'ml-1')
