.container
  .row
    .col-12.col-md-8.mt-4.mt-md-0
      = simple_form_for(@organization, url: [:admin, :settings, :organization], method: :patch) do |f|
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
        .card
          .card-header
            .card-title= t('.title')
          .card-body
            = f.input :brand_name, as: :text, input_html: { rows: 2 }
            = f.input :service_name
            = f.input :service_description_short, as: :text, input_html: { rows: 2 }
            = f.input :service_description, as: :text, input_html: { rows: 5 }
            = f.input :operator_name
            = f.input :operator_url
            = f.input(:operator_logo)
            - if @organization.operator_logo.present?
              = f.input :remove_operator_logo, as: :boolean
            = f.input :prefix_article
            = f.input :privacy_policy_url
            = f.input :matomo_site_id
            = f.input :inbound_email_config, collection: Organization.inbound_email_configs.keys.map(&:to_sym), include_blank: false
            = f.input :hours_delay_before_publishing
            = f.input :image_background
            - if @organization.image_background.present?
              = f.input :remove_image_background, as: :boolean
          .card-header
            .card-title Conditions d'accès à la création d'offres
          .card-body
            = f.input :job_offer_term_title
            = f.input :job_offer_term_subtitle
            = f.input :job_offer_term_warning
          .card-header
            .card-title= t('.title_social')
          .card-body
            - %w[linkedin_url twitter_url youtube_url instagram_url facebook_url].each do |social_url|
              = f.input social_url
          .card-header
            .card-title= t('.title_testimony')
          .card-body
            = f.input :testimony_title
            = f.input :testimony_subtitle
            = f.input :testimony_url
            = f.input :testimony_logo
            - if @organization.testimony_logo.present?
              = f.input :remove_testimony_logo, as: :boolean
          .card-header
            .card-title= t('.title_partners')
          .card-body
            - %w[partner_1 partner_2 partner_3].each do |field|
              = f.input "#{field}_name"
              = f.input "#{field}_url"
              = f.input "#{field}_logo"
              - if @organization.send("#{field}_logo").present?
                = f.input "remove_#{field}_logo", as: :boolean
          .card-body
            .d-flex
              = button_tag(type: 'submit', class: 'btn btn-primary btn-raised mb-0 ml-auto') do
                = t('buttons.save')
