%nav.fr-breadcrumb{"aria-label" => "vous êtes ici :"}
  %button.fr-breadcrumb__button{hidden: ""} Voir le fil d’Ariane
  %ol.fr-breadcrumb__list
    %li.fr-breadcrumb__item
      = link_to job_offers_path do
        Nos offres
    - if controller.action_name == 'apply'
      %li.fr-breadcrumb__item
        = link_to @job_offer do
          = @job_offer.title
      %li.fr-breadcrumb__item.fr-breadcrumb__item--current{"aria-current" => "page"}
        Postuler
    - elsif controller.action_name == 'successful'
      %li.fr-breadcrumb__item
        = link_to @job_offer do
          = @job_offer.title
      %li.fr-breadcrumb__item.fr-breadcrumb__item--current{"aria-current" => "page"}
        Candidature envoyée
    - else
      %li.fr-breadcrumb__item.fr-breadcrumb__item--current{"aria-current" => "page"}
        = @job_offer.title
