- if collection.present?
  %li.fr-sidemenu__item
    - data = {controller: 'fr-accordions-management', action: 'click->fr-accordions-management#collapse'}
    - options = {type: "button", aria: {controls: "fr-accordion-region", expanded: false}, data: data}
    %button.fr-sidemenu__btn{options}= t(".select")
    .fr-collapse{id: "fr-accordion-region"}
      %ul.fr-sidemenu__list
        - collection.each do |region, counties|
          %div{data: { controller: 'subcheckbox'}}
            %li.fr-sidemenu__item
              .fr-container-fluid
                .fr-grid-row
                  .fr-col-11
                    .fr-checkbox-group
                      %input{id: region, value: region, name: "job_offers[region][]", type: "checkbox", data: {action: "change->subcheckbox#propagate_downward", "subcheckbox-target": "upcheckbox"}}
                      %label{for: region}= region
                    - data = {controller: 'fr-accordions-management', action: 'click->fr-accordions-management#collapse'}
                    - options = {type: "button", aria: {controls: "fr-accordion-region-#{region}", expanded: false}, data: data}
                  .fr-col
                    %button.fr-sidemenu__btn.side{options}
            .fr-collapse.fr-sidemenu__list{id: "fr-accordion-region-#{region}"}
              - (counties || []).each do |county|
                .fr-checkbox-group.fr-checkbox-group--sm
                  %input{id: county, value: county, name: "job_offers[county][]", type: "checkbox", data: {action: "change->subcheckbox#propagate_upward", "subcheckbox-target": "downcheckbox"}}
                  %label.fr-label{for: county}= county
