- if collection.present?
  %li.rf-sidemenu__item
    - data = {controller: 'rf-accordions-management', action: 'click->rf-accordions-management#collapse'}
    - options = {type: "button", aria: {controls: "rf-accordion-region", expanded: false}, data: data}
    %button.rf-sidemenu__btn{options}= t(".select")
    .rf-collapse{id: "rf-accordion-region"}
      %ul.rf-sidemenu__list
        - collection.each do |region, counties|
          %div{data: { controller: 'subcheckbox'}}
            %li.rf-sidemenu__item
              .rf-container-fluid
                .rf-grid-row
                  .rf-col-11
                    .rf-checkbox-group
                      %input{id: region, value: region, name: "job_offers[region][]", type: "checkbox", data: {action: "change->subcheckbox#propagate_downward", "subcheckbox-target": "upcheckbox"}}
                      %label{for: region}= region
                    - data = {controller: 'rf-accordions-management', action: 'click->rf-accordions-management#collapse'}
                    - options = {type: "button", aria: {controls: "rf-accordion-region-#{region}", expanded: false}, data: data}
                  .rf-col
                    %button.rf-sidemenu__btn.side{options}
            .rf-collapse.rf-sidemenu__list{id: "rf-accordion-region-#{region}"}
              - (counties || []).each do |county|
                .rf-checkbox-group.rf-checkbox-group--sm
                  %input{id: county, value: county, name: "job_offers[county][]", type: "checkbox", data: {action: "change->subcheckbox#propagate_upward", "subcheckbox-target": "downcheckbox"}}
                  %label.rf-label{for: county}= county
