- filter_name = "#{kind}_id"
- ids = params.dig(:search, filter_name) || []
- cache [collection, ids] do
  %li.rf-sidemenu__item
    - data = {controller: 'rf-accordions-management', action: 'click->rf-accordions-management#collapse'}
    - options = {type: "button", aria: {controls: "rf-accordion-#{kind}", expanded: false}, data: data}
    %button.rf-sidemenu__btn{options}= t(".select_#{kind}")
    .rf-collapse{id: "rf-accordion-#{kind}"}
      %ul.rf-sidemenu__list.rf-my-1w
        = collection_check_boxes(:job_offers, filter_name, collection, :id, :name, include_hidden: false) do |b|
          .rf-checkbox-group
            = b.check_box(checked: false)
            = b.label
