- container_class ||= ""
%div{class: container_class}
  - cache [job_offer] do
    .fr-pb-2w.fr-pt-2w
      = link_to job_offer, target: "_top" do
        .d-flex.align-items-center
          .d-flex.flex-column
            %small= job_offer.category.name
            %strong.fr-text--lg.fr-mb-1w= job_offer.title
            .d-flex
              .fr-mr-1w
                = [job_offer.contract_type.name, job_offer.duration_contract].join(' ')
                %br
                = job_offer.location
            - if job_offer.published_at.present?
              %small.fr-mt-1w= t('.published_date', time_ago_in_words: time_ago_in_words(job_offer.published_at))
          %button.fr-btn.fr-fi-arrow-right-line.ml-auto{title: t('.show')}
            %sr-only=t('.show')
    %hr.fr-b--g100.fr-my-0
