.row
  .col-12.col-md-9
    .font-weight-bold.text-quinary= job_offer.title
    %small
      .d-flex.mt-1
        .mr-1= job_offer.contract_type.name
        .mr-1
          \-
        = job_offer.location
      %small= t('.published_date', time_ago_in_words: time_ago_in_words(job_offer.created_at))
  .col-12.col-md-3.text-left.text-md-right.mt-3.mt-md-0
    = link_to t('.show'), job_offer, class: 'btn btn-primary btn-raised'

