- search_key = :job_offer_employer_id_in
- ary = params.dig(:q, search_key)  || []
.dropdown.dropdown-checks.form-group
  %button.form-control.dropdown-toggle.text-left.d-flex.align-items-center#dropdownEmployeur{type: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}}
    Employeur
    - if ary.any?
      = "(#{ary.size})"
  .dropdown-menu.dropdown-menu-right.allow-focus{aria: {labelledby: 'dropdownEmployeur'}}
    - grouped_options = Employer.roots.map{|x| [x.name, x.children]}
    %ul
      - for option in grouped_options
        %li
          = option.first
          %ul
            - for sub_option in option.last
              - if current_administrator.admin? || @employer_ids.include?(sub_option.id)
                - input_id = dom_id(sub_option)
                %li
                  .form-check.form-check-inline.w-100
                    - checked = ary.include?(sub_option.id)
                    = check_box_tag "q[#{search_key}][]", sub_option.id, checked, class: 'form-check-input', id: input_id
                    %label.form-check-label.text-truncate.d-block{for: input_id}= sub_option.name
