-# frozen_string_literal: true
= simple_form_for([:admin, @job_application]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :job_offer
    = f.association :user
    = f.input :first_name
    = f.input :last_name
    = f.input :current_position
    = f.input :phone
    = f.input :address_1
    = f.input :address_2
    = f.input :postal_code
    = f.input :city
    = f.input :country
    = f.input :portfolio_url
    = f.input :website_url
    = f.input :linkedin_url

  .form-actions
    = f.button :submit
