- user = job_application.user
- profile = user.personal_profile
.card.job-application.mt-3{id: dom_id(job_application)}
  .card-body
    - link_url = can?(:manage, job_application) ? [:admin, job_application] : '#'
    - link_options = can?(:manage, job_application) ? {class: 'job-application-modal-link', data: { toggle: :modal, target: '#remoteContentModal' }} : {}
    = link_to link_url, link_options do
      .row
        .col-12.user-full-name
          .d-flex
            = image_user_tag job_application.user.photo, width: 32, class: 'mr-2'
            = user.full_name
        .col-12.personal-profile-current-position
          - current_position = profile.current_position
          - if current_position
            %span{title: current_position}
              = current_position
        .col-12.personal-profile-is-currently-employed
          - is_currently_employed = profile.is_currently_employed
          - if is_currently_employed
            = PersonalProfile.human_attribute_name('is_currently_employed/'+profile.is_currently_employed.to_s)
          - else
            = t('non_applicable')
        .col-12.user-job-applications-count
          = user.job_applications_count
        .col-12.personal-profile-address-short
          - address_short = profile.address_short
          - if address_short
            %span{title: address_short}
              = address_short
  .card-footer.d-flex.flex-column.flex-md-row
    .mr-auto
      - klass = badge_class(job_application.state.to_sym)
      %small.badge.text-white.text-uppercase.text-nowrap.mr-1{class: klass}
        = job_application.aasm.human_state
      %small
        Inscrit le #{ I18n.l job_application.created_at.to_date }
