- with_header = true if with_header.nil?
.card.mt-3.job-application{id: dom_id(job_application)}
  - if with_header
    .card-header.d-flex
      %small.d-block.text-truncate.mr-auto
        = job_application.job_offer.title
      - klass = badge_class(job_application.state.to_sym)
      %small.badge{class: klass}
        = job_application.aasm.human_state
  .card-body
    = link_to [:admin, job_application], data: { toggle: :modal, target: '#remoteContentModal' } do
      .d-flex.justify-content-start
        - if job_application.photo.attached?
          = image_tag job_application.photo.variant(resize: "80x80^", gravity: "center", extent: "80x80"), class: 'rounded-circle mr-2', style: "width:40px;height:40px;"
        .d-flex.flex-column
          %strong= job_application.full_name
          %strong.small.text-muted= job_application.current_position
        .ml-auto
          %strong.small.text-muted= time_ago_in_words job_application.created_at, scope: 'datetime.distance_in_words.short'
