- with_header = true if with_header.nil?
- change_state_url = url_for([:change_state, :admin, job_application, {state: job_application.state}])
.card.job-application{id: dom_id(job_application), class: "job-application--state-#{job_application.state}", data: {state: job_application.state, change: {state: {url: change_state_url}}}}
  - if with_header
    .card-header.d-flex
      %small.d-block.text-truncate.mr-auto
        = job_application.job_offer.title
      - klass = badge_class(job_application.state.to_sym)
      %small.badge{class: klass}
        = job_application.aasm.human_state
  .card-body
    = link_to [:admin, job_application], class: 'job-application-modal-link', data: { toggle: :modal, target: '#remoteContentModal' } do
      .d-flex.justify-content-start
        = image_user_tag job_application.photo, width: 40, class: 'mr-2'
        .d-flex.flex-column
          %strong.text-secondary= job_application.full_name
          %strong.small.text-muted= job_application.current_position
        .ml-auto
  .card-footer.d-flex.flex-column.flex-md-row
    .mr-auto= t('.published_date', time_ago_in_words: time_ago_in_words(job_application.created_at))
