- profile ||= job_application.personal_profile
- user ||= job_application.user
- website_url = profile.website_url
- tab_active = job_applications_tab_active
.row.bg-white.border-bottom.head
  .col-12{class: job_application_modal_section_classes('pb-0')}
    - if request.xhr?
      %button.close{type: :button, data: { dismiss: :modal }, aria: { label: t("buttons.close") }}
        %span{ aria: { hidden: true }}
          &times
    .d-flex.justify-content-start.head
      = image_user_tag user.photo, width: 80, class: 'mr-4'
      .d-flex.flex-column
        .h5.secondary.mb-0= user.full_name
        - if defined?(job_application)
          %small
            - job_offer = job_application.job_offer
            = [job_offer.identifier, job_offer.title].join(' ')
            = link_to(fa_icon('open-in-new'), [:admin, job_offer], target: '_blank', class: 'ml-1')
        .my-1= profile.current_position
        .d-flex.justify-content.justify-content-start
          - if (phone = profile.phone).present?
            %span.mr-2
              = fa_icon "phone"
              = phone
          - if (address_short = profile.address_short).present?
            %span.mr-2
              = fa_icon "map-marker"
              = address_short
        - if website_url.present?
          .d-flex.justify-content.justify-content-start
            - if website_url =~ /linkedin/
              = link_to fa_icon('linkedin', class: 'fa-w-20'), website_url, target: :_blank, class: 'mt-1 mr-2'
            - else
              = link_to fa_icon('web', class: 'fa-w-20'), website_url, target: :_blank, class: 'mt-1 text-body-color'
    %ul.nav.nav-tabs.mt-3{role: :tablist}
      %li.nav-item.mr-3
        - klasses = tab_active == :profile ? %w(nav-link active) : %w(nav-link)
        = link_to t('.nav_profile'), "#profile", class: klasses, data: {toggle: :tab}, role: :tab, aria: {controls: :profile, selected: true}
      - if defined?(job_application)
        %li.nav-item.mr-3
          - klasses = tab_active == :overview ? %w(nav-link active) : %w(nav-link)
          = link_to t('.nav_overview'), "#overview", class: klasses, data: {toggle: :tab}, role: :tab, aria: {controls: :overview, selected: true}
      - if defined?(job_application) && can?(:read, Email)
        %li.nav-item.mr-3
          - klasses = tab_active == :emails ? %w(nav-link active) : %w(nav-link)
          = link_to "#emails", class: klasses, data: {toggle: :tab}, role: :tab, aria: {controls: :emails, selected: false} do
            - if job_application.emails_administrator_unread_count > 0
              .notification= job_application.emails_administrator_unread_count
            = t('.nav_emails')
      - if defined?(job_application)
        %li.nav-item.mr-3
          - klasses = tab_active == :files ? %w(nav-link active) : %w(nav-link)
          = link_to "#files", class: klasses, data: {toggle: :tab}, role: :tab, aria: {controls: :files, selected: false} do
            - if job_application.files_unread_count > 0
              .notification= job_application.files_unread_count
            = t('.nav_files', count: job_application.files_count)
