.card
  .card-header.bg-white.font-weight-bold.text-secondary
    = fa_icon('file-document', class: 'text-secondary')
    = t('.title')
  .card-body.bg-white.py-0
    %table.table.table-hover.mb-0.mt-0.small
      %thead
        %tr
          %th.border-0.text-center{ :style => "width: 23px;" }
            = t('.image')
          %th.border-0{ :style => "width: 140px;" }
            = t('.offer')
          %th.border-0
            = t('.statut')
          %th.border-0.text-right{ :style => "width: 110px;" }
            = t('.date')
      %tbody
        - for other_job_application in @other_job_applications
          %tr
            %td.border-0.text-center
              = image_tag(asset_pack_path("images/republique_francaise.svg"), size: "23x15")
            %td.border-0
              .text-truncate{ :style => "width: 140px;" }
                = other_job_application.job_offer.title
            %td.border-0
              = JobApplication.human_attribute_name("state/#{other_job_application.state}")
            %td.border-0.text-right
              = l other_job_application.created_at.to_date
