.row.mt-4.mb-3
  .col-12
    - url = [:admin, @q]
    = search_form_for url, class: 'auto-submit' do |f|
      .form-group.input-group.input-search
        .input-group-prepend
          %span.input-group-text.bg-white
            = fa_icon('magnify')
        = text_field_tag :s, params[:s]
      .row.mt-5
        .col-12.col-sm-3
          = render partial: 'filter_category'
        .col-12.col-sm-3
          = render partial: 'filter_contract_type'
        .col-12.col-sm-3
          = render partial: 'filter_state'
        .col-12.col-sm-3
          = render partial: 'filter_employer'
      = submit_tag 'Rechercher', name: nil, class: 'd-none'
