- result = @job_application.files_to_be_provided
- must_be_provided_files = result[:must_be_provided_files]
- optional_file_types = result[:optional_file_types]

.card.job-application-files
  .card-header.with-subheader.bg-white.font-weight-bold.text-secondary
    = fa_icon('file-lines', class: 'text-secondary')
    = t('.title')
  .card-subheader.bg-card-bg.font-weight-bold.text-muted
    = t('.subtitle_1')
  .card-body.bg-white.files-list
    - if must_be_provided_files.any?
      = render partial: "/admin/job_application_files/job_application_file", collection: must_be_provided_files
    - else
      %em= t('.none_atm')
  .card-subheader.bg-card-bg.font-weight-bold.text-muted
    = t('.subtitle_2')
  .card-body.bg-white.files-list
    %small.text-italic.d-block.mb-3= t('.note')
    - if optional_file_types.any?
      = render partial: "/admin/job_application_files/optional_job_application_file_type", collection: optional_file_types, as: :job_application_file_type, locals: {job_application: @job_application}
    - else
      %em= t('.none')
