%p#notice= notice

%p
  %b Job offer:
  = @job_application.job_offer
%p
  %b User:
  = @job_application.user
%p
  %b First name:
  = @job_application.first_name
%p
  %b Last name:
  = @job_application.last_name
%p
  %b Current position:
  = @job_application.current_position
%p
  %b Phone:
  = @job_application.phone
%p
  %b Address 1:
  = @job_application.address_1
%p
  %b Address 2:
  = @job_application.address_2
%p
  %b Postal code:
  = @job_application.postal_code
%p
  %b City:
  = @job_application.city
%p
  %b Country:
  = @job_application.country
%p
  %b Portfolio url:
  = @job_application.portfolio_url
%p
  %b Website url:
  = @job_application.website_url
%p
  %b Linkedin url:
  = @job_application.linkedin_url

