- tab_active = job_applications_tab_active
.container-fluid
  = render partial: 'job_application_head', locals: {job_application: @job_application}
  .row.bg-card-bg
    .col-12.col-md-8.border-right{class: job_application_modal_section_classes}
      .tab-content
        - if tab_active == :profile
          .tab-pane.active.show{role: :tabpanel, aria: {labelledby: :profile}}
            = render partial: '/admin/user_profiles/user_profile', locals: {job_application: @job_application, user: @job_application.user}
            = render partial: 'job_application_profile', locals: { job_application: @job_application }
            - if @other_job_applications.any?
              = render partial: 'user_job_applications', locals: {job_applications: @other_job_applications}
        - if tab_active == :cvlm
          .tab-pane.active.show{role: :tabpanel, aria: {labelledby: :cvlm}}
            = render partial: 'job_application_overview', locals: {job_application: @job_application}
        - if can?(:read, Email) && tab_active == :emails
          .tab-pane.active.show{role: :tabpanel, aria: {labelledby: :emails}}
            = render partial: 'job_application_emails', locals: {job_application: @job_application}
        - if tab_active == :files
          .tab-pane.active.show{role: :tabpanel, aria: {labelledby: :files}}
            = render partial: 'job_application_files', locals: {job_application: @job_application}
    .col-12.col-md-4{class: job_application_modal_section_classes}
      = render partial: "job_application_activity"
