-# frozen_string_literal: true
.card
  .card-header.bg-white.font-weight-bold.text-secondary
    = fa_icon('file-document', class: 'text-secondary')
    = t('.title')
  .card-body.bg-white
    = simple_form_for([:admin, @email.job_application, @email], remote: true) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

      .form-inputs
        = f.input :subject
        = f.input :body

      .form-actions.text-right
        = button_tag(type: 'submit', class: 'btn btn-primary') do
          = t('buttons.send_to_candidate')
          = fa_icon('send', class: 'ml-1')
