%p
  = t('.greeting', recipient: (@resource.full_name.present? ? @resource.full_name : nil))
%p
  = t('.instruction_0')
%p
  = t('.instruction_1')
- text = t('.action')
- url = edit_password_url(@resource, reset_password_token: @token)
= render partial: 'email_button', locals: {text: text, url: url}
%p
  = t('.instruction_2')
  %br
  = t('.instruction_3')
%p
  = t('.sincerely')
  %br
  = t('.team', service_name: @resource.organization.service_name)
