.font-weight-bold.text-secondary.mb-3
  = fa_icon('settings', class: 'text-secondary')
  = t('.title')
- if user.receive_job_offer_mails
  = form_tag [:send_job_offer, :admin, user] do
    .form-group.input-group
      .row
        .col-12
          = label_tag "job_offer_identifier", "Envoyer une offre par email au candidat", class: "form-control-label"
      .row
        .col-8
          = text_field_tag 'job_offer_identifier', nil, class: "form-control", placeholder: "Référence de l'offre", required: true
        .col-4
          = submit_tag 'Envoyer', class: 'btn btn-primary btn-raised'
- if can?(:suspend, user) || can?(:destroy, user)
  - if user.suspended?
    .mb-3
      %span
        Candidat suspendu le #{I18n.l(user.suspended_at, format: :short)}
        %br
        %span
          Raison :
          %em= user.suspension_reason.present? ? user.suspension_reason : 'Aucune raison donnée'
    - if can?(:suspend, user)
      = link_to [:unsuspend, :admin, user], method: :post, data: {confirm: t('buttons.confirm')}, class: 'btn btn-primary mb-0' do
        = t('buttons.unsuspend_user')
        = fa_icon('send', class: 'ml-1')
  - else
    - if can?(:suspend, user)
      = link_to "#", class: 'btn btn-primary mb-0', data: { toggle: :modal, target: '#suspendContentModal' } do
        = t('buttons.suspend_user')
        = fa_icon('send', class: 'ml-1')
      .mb-3

  - if can?(:destroy, user)
    = link_to [:admin, user], method: :delete, data: {confirm: t('buttons.confirm')}, class: 'btn btn-primary mb-0' do
      = t('buttons.delete_user')
      = fa_icon('send', class: 'ml-1')

    .mb-4

  .modal.fade#suspendContentModal{tabindex: -1, role: :dialog, aria: {labelledby: :suspendContentModal, hidden: true}}
    .modal-dialog{role: :document}
      .modal-content
        .modal-body
          = simple_form_for(user, url: [:suspend, :admin, user], method: :post) do |f|
            = f.input :suspension_reason, as: :text
            .form-actions.d-flex.mt-4
              %button{type: :button, class: 'btn btn-link mb-0', data: {dismiss: :modal}, aria: {label: t('buttons.close')}}
                = t('buttons.cancel')
              .ml-auto
                = button_tag(type: 'submit', class: 'btn btn-primary btn-raised mb-0') do
                  = t('buttons.suspend_user')
                  = fa_icon('send', class: 'ml-1')
