- website_url = user.website_url
- tab_active = job_applications_tab_active
- job_offer = defined?(job_application) ? job_application.job_offer : nil
.row.bg-white.border-bottom.head
  .col-12{class: job_application_modal_section_classes('pb-0')}
    .h5.secondary.mb-0= user.full_name
  .col-6{class: job_application_modal_section_classes('pb-0')}
    .d-flex.head.mb-3
      = image_user_tag user.photo, width: 80, class: 'mr-4'
      .d-flex.flex-column
        - if website_url.present?
          .d-flex.flex-row.align-items-center
            - if website_url =~ /linkedin/
              = fa_icon('linkedin', flavor: 'brands', class: 'mr-1')
            - else
              = fa_icon('globe', class: 'mr-1')
            = link_to website_url, website_url, target: :_blank, class: 'text-body-color'
        - if (phone = user.phone).present?
          .d-flex.flex-row.align-items-center
            = fa_icon('phone', class: 'mr-1')
            = phone
        - if (email = user.email).present?
          .d-flex.flex-row.align-items-center
            = fa_icon('envelope', class: 'mr-1')
            = email
        - if user.full_address.present?
          .d-flex.flex-row.align-items-center
            = fa_icon('map-marker-alt', class: 'mr-1')
            = user.full_address

    - if defined?(job_application) && !user.new_record?
      %ul.nav.nav-tabs{role: :tablist}
        %li.nav-item.mr-3
          - klasses = tab_active == :profile ? %w(nav-link active) : %w(nav-link)
          = link_to t('.nav_profile'), admin_job_offer_job_application_url(job_offer, job_application), class: klasses, role: :tab, aria: {controls: :profile, selected: true}
        - if defined?(job_application)
          %li.nav-item.mr-3
            - klasses = tab_active == :cvlm ? %w(nav-link active) : %w(nav-link)
            = link_to t('.nav_overview'), cvlm_admin_job_offer_job_application_url(job_offer, job_application), class: klasses, role: :tab, aria: {controls: :cvlm, selected: true}
        - if defined?(job_application) && can?(:read, Email)
          %li.nav-item.mr-3
            - klasses = tab_active == :emails ? %w(nav-link active) : %w(nav-link)
            = link_to emails_admin_job_offer_job_application_url(job_offer, job_application), class: klasses, role: :tab, aria: {controls: :emails, selected: true} do
              - if job_application.emails_administrator_unread_count > 0
                .notification= job_application.emails_administrator_unread_count
              = t('.nav_emails')
        - if defined?(job_application)
          %li.nav-item.mr-3
            - klasses = tab_active == :files ? %w(nav-link active) : %w(nav-link)
            = link_to files_admin_job_offer_job_application_url(job_offer, job_application), class: klasses, role: :tab, aria: {controls: :files, selected: true} do
              - if job_application.files_unread_count > 0
                .notification= job_application.files_unread_count
              = t('.nav_files', count: job_application.files_count)
  .col-3{class: job_application_modal_section_classes('pb-0')}
    .text-center.font-weight-bold.text-secondary
      Domaines professionnels
    .d-flex.flex-column.align-items-center
      - user.profile.category_experience_levels.each do |category_experience_level|
        %div
          %strong= category_experience_level.category.name
          - if category_experience_level.experience_level.present?
            = "-"
            = category_experience_level.experience_level.name
  .col-3{class: job_application_modal_section_classes('pb-0')}
    .text-center.font-weight-bold.text-secondary
      Souhaits géographiques
    .d-flex.flex-column.align-items-center
      - user.departments.each do |department|
        %div= department.short_label
