- last_job_application = user.last_job_application
- preferred_user ||= false
- last_job_application_resume_url = job_application_resume_url(last_job_application)
.row
  - if defined?(list)
    .col-auto.align-self-center.text-center
      = check_box_tag "user_ids[]", user.id, false, data: {action: "change->subcheckbox#propagate_upward", "subcheckbox-target": "downcheckbox", "selectall-target": "item"}, id: user.id
  .col
    .card.job-application.mt-3{id: dom_id(user)}
      .card-body
        = link_to [:admin, user] do
          .row
            .col-12.user-full-name
              .d-flex
                = image_user_tag user.photo, width: 32, class: 'mr-2'
                = user.full_name
                - if user.profile.resume.present?
                  %div{data: {controller: "rich-tooltip", bs_custom_class: "tooltip-rich", bs_placement: "right"}, title: "<object data='#{admin_user_resume_path(user)}' style='margin-left: 10px; bottom: 0;' class='position-fixed' height='600px' width='800px' type='application/pdf'></object>"}
                    = fa_icon "file-lines", class: "ml-2"
                - elsif last_job_application_resume_url
                  %div{data: {controller: "rich-tooltip", bs_custom_class: "tooltip-rich", bs_placement: "right"}, title: "<object data='#{last_job_application_resume_url}' style='margin-left: 10px; bottom: 0;' class='position-fixed' height='600px' width='800px' type='application/pdf'></object>"}
                    = fa_icon "file-lines", class: "ml-2"
            .col-12.category-experience-levels
              - user.profile.category_experience_levels.each do |category_experience_level|
                %span.font-weight-bold
                  = category_experience_level.category.name
                = "-"
                = category_experience_level.experience_level.name
                %br
            .col-12.study-level
              = user.profile.study_level&.name
            .col-12.user-job-applications-count
              = user.job_applications_count
      .card-footer.d-flex.flex-column.flex-md-row
        .mr-auto
          - if last_job_application
            - if last_job_application.rejected
              %small.badge.text-white.text-uppercase.text-nowrap.mr-1.badge-light-gray
                = t('activerecord.attributes.job_application.rejected')
            - else
              - klass = badge_class(last_job_application.state.to_sym)
              %small.badge.text-white.text-uppercase.text-nowrap.mr-1{class: klass}
                = last_job_application.aasm.human_state
            %small
              = t('admin.job_applications.job_application.applied_on', date: I18n.l(last_job_application.created_at.to_date))
          - else
            %small
              = t('.subscribed_on', date: I18n.l(user.created_at.to_date))
        - if can?(:manage, PreferredUsersList)
          %ul.list-inline.mb-0.actions.mt-2.mt-md-0
            %li.list-inline-item
              = link_to listing_admin_user_path(user), role: :button do
                = fa_icon 'bars'
                = t('.my_preferred_user_lists')
            - if preferred_user
              %li.list-inline-item
                = link_to [:admin, preferred_user], role: :button, method: :delete, data: {confirm: t('buttons.confirm')} do
                  = fa_icon 'trash-can'
                  = t('.remove_user')
