- website_url = user.website_url
- tab_active = job_applications_tab_active
- job_offer = defined?(job_application) ? job_application.job_offer : nil
.row.bg-white.border-bottom.head
  .col-12{class: job_application_modal_section_classes('pb-0')}
    .d-flex.head.mb-3
      = image_user_tag user.photo, width: 80, class: 'mr-4'
      .d-flex.flex-column
        .h5.secondary.mb-0= user.full_name
        - if job_offer
          %small
            = [job_offer.identifier, job_offer.title].join(' ')
            = link_to(fa_icon('open-in-new'), [:admin, job_offer], target: '_blank', class: 'ml-1')
        .my-1= user.current_position
        - if (phone = user.phone).present?
          .d-flex.flex-row.align-items-center
            = fa_icon('phone', class: 'fa-w-15 mr-1')
            = phone
        - if (email = user.email).present?
          .d-flex.flex-row.align-items-center
            = fa_icon('email', class: 'fa-w-15 mr-1')
            = email
        - if website_url.present?
          .d-flex.flex-row.align-items-center
            - icon_name = website_url =~ /linkedin/ ? 'linkedin' : 'web'
            = fa_icon(icon_name, class: 'fa-w-15 mr-1')
            = link_to website_url, website_url, target: :_blank, class: 'text-body-color'
    - if defined?(job_application)
      %ul.nav.nav-tabs{role: :tablist}
        %li.nav-item.mr-3
          - klasses = tab_active == :profile ? %w(nav-link active) : %w(nav-link)
          = link_to t('.nav_profile'), admin_job_offer_job_application_url(job_offer, job_application), class: klasses, role: :tab, aria: {controls: :profile, selected: true}
        - if defined?(job_application)
          %li.nav-item.mr-3
            - klasses = tab_active == :cvlm ? %w(nav-link active) : %w(nav-link)
            = link_to t('.nav_overview'), cvlm_admin_job_offer_job_application_url(job_offer, job_application), class: klasses, role: :tab, aria: {controls: :cvlm, selected: true}
        - if defined?(job_application) && can?(:read, Email)
          %li.nav-item.mr-3
            - klasses = tab_active == :emails ? %w(nav-link active) : %w(nav-link)
            = link_to emails_admin_job_offer_job_application_url(job_offer, job_application), class: klasses, role: :tab, aria: {controls: :emails, selected: true} do
              - if job_application.emails_administrator_unread_count > 0
                .notification= job_application.emails_administrator_unread_count
              = t('.nav_emails')
        - if defined?(job_application)
          %li.nav-item.mr-3
            - klasses = tab_active == :files ? %w(nav-link active) : %w(nav-link)
            = link_to files_admin_job_offer_job_application_url(job_offer, job_application), class: klasses, role: :tab, aria: {controls: :files, selected: true} do
              - if job_application.files_unread_count > 0
                .notification= job_application.files_unread_count
              = t('.nav_files', count: job_application.files_count)
