- tab_active = job_applications_tab_active
- if @preferred_users_list
  - url_opts = request.referrer ? 'javascript:history.back()' : [:admin, @preferred_users_list]
  = link_to url_opts, class: 'mb-3 d-block' do
    ← Retour à la liste de candidats '#{@preferred_users_list.name}'
.container-fluid
  = render partial: 'head', locals: {user: @user}
  .row.bg-card-bg
    .col-12.col-md-8
      - if @user.last_job_application
        .border-right{class: job_application_modal_section_classes}
          .tab-content
            .tab-pane.fade.active.show
              = render template: '/admin/job_applications/cvlm', locals: {job_application: @user.last_job_application, only_first: true}
    .col-12.col-md-4{class: job_application_modal_section_classes}
      - unless @user.new_record?
        = render partial: 'actions', locals: { user: @user }
        - if @user.job_applications.any?
          = render partial: "/admin/job_applications/user_job_applications", locals: {job_applications:  @user.job_applications, narrow: true}
