-# profile = @user.profile || @user.build_profile
- last_job_application = @user.last_job_application
- tab_active = job_applications_tab_active
- if @preferred_users_list
  - url_opts = request.referrer ? 'javascript:history.back()' : [:admin, @preferred_users_list]
  = link_to url_opts, class: 'mb-3 d-block' do
    ← Retour à la liste de candidats '#{@preferred_users_list.name}'
.container-fluid
  = render partial: 'user_head', locals: {user: @user}
  .row.bg-card-bg
    .col-12.col-md-8.border-right{class: job_application_modal_section_classes}
      .tab-content
        .tab-pane.fade.active.show
          - if (job_applications = @user.job_applications).any?
            = render partial: "/admin/job_applications/user_job_applications", locals: {job_applications: job_applications, narrow: true}

    .col-12.col-md-4{class: job_application_modal_section_classes}
      - if @user.suspended?
        %em.d-block.mb-3
          Utilisateur suspendu.
        %em.d-block.mb-3
          Raison : #{@user.suspension_reason}
        = simple_form_for(@user, url: [:unsuspend, :admin, @user], method: :post) do |f|
          = button_tag(type: 'submit', class: 'btn btn-primary') do
            = t('buttons.user_unsuspend')
            = fa_icon('send', class: 'ml-1')
      - else
        = simple_form_for(@user, url: [:suspend, :admin, @user], method: :post) do |f|
          = button_tag(type: 'submit', class: 'btn btn-primary') do
            = t('buttons.user_suspend')
            = fa_icon('send', class: 'ml-1')
