<p>
  Bonjour <%= @administrator.full_name %>,
</p>

<p>
  Vous êtes notifié comme « Employeur » sur la plateforme E-recrutement sur l’offre <%= link_to(@job_offer.title, @job_offer) %>.
</p>

<p>
  Le/la candidat(e) <%= @job_application.user.full_name %> a répondu à votre proposition d’entretien.
<br>
  Pour y accéder, cliquez sur le lien suivant : <%= link_to(@job_offer.title, @job_offer) %>
</p>

<p>
  Cordialement,
</p>

<p>
  L'équipe <%= @service_name %>
</p>
