- nav_items = [[:job_offers],  [:settings, :root]]
%nav.navbar.navbar-expand-md.navbar-light.bg-white.fixed-top
  %button.navbar-toggler.p-0.border-0{type: :button, data: {toggle: 'offcanvas'}}
    %span.navbar-toggler-icon= fa_icon "menu", style: "width:1.5em;height:auto;"
  = link_to admin_root_path, class: "navbar-brand py-0" do
    = image_tag(asset_pack_path("images/republique_francaise.svg"))
  .collapse.navbar-collapse.offcanvas-collapse.ml-md-5
    %ul.navbar-nav.mr-auto
      - nav_items.each do |item|
        - extra_klass = controller.class.to_s.underscore =~ /#{ item.first.to_s }/ && 'active'
        %li.nav-item.mr-3{class: extra_klass}
          = fa_icon(icon_for_controller(item))
          - ary = [:admin] + item
          = link_to t(".#{ item.first.to_s }"), ary, class: "nav-link"
    %ul.nav.navbar-nav
      %li.nav-item
        = link_to current_administrator.email, admin_root_path, class: "nav-link"
      %li.nav-item
        = link_to t('.logout'), destroy_administrator_session_path, method: :delete, class: "nav-link"
%aside.offcanvas-collapse
  .drawer
    %ul.list-group
      - nav_items.each do |item|
        - klass = %w(list-group-item)
        - klass << 'active' if controller.class.to_s.underscore =~ /#{ item.first.to_s }/
        - ary = [:admin] + item
        = link_to t(".#{ item.first.to_s }"), ary, class: klass
