- nav_items = [[:job_offers], [:job_applications]]
- nav_items << [:stats, :root]
- nav_items << [:settings, :root] if current_administrator.bant?
%nav.navbar.navbar-expand-md.navbar-light.bg-white.fixed-top
  %button.navbar-toggler.p-0.border-0{type: :button, data: {toggle: 'offcanvas'}}
    %span.navbar-toggler-icon= fa_icon "menu", style: "width:1.5em;height:auto;"
  = link_to admin_root_path, class: "navbar-brand py-0" do
    = image_tag(asset_pack_path("images/minarm_horizontal.svg"))
  .collapse.navbar-collapse.offcanvas-collapse.ml-md-5
    %ul.navbar-nav.mr-auto
      - nav_items.each do |item|
        - klass = nil
        - klass = item.first.to_s.singularize.classify.constantize if item.size == 1
        - if klass.nil? || can?(:read, klass)
          - target_controller_path = Rails.application.routes.recognize_path(url_for(item.dup.unshift('admin')))[:controller]
          - extra_klass = target_controller_path == controller.controller_path && 'active'
          %li.nav-item.mr-3{class: extra_klass}
            = fa_icon(icon_for_controller(item))
            - ary = [:admin] + item
            = link_to t(".#{ item.first.to_s }"), ary, class: "nav-link"
    %ul.navbar-nav
      %li.nav-item.mr-2
        .d-flex.flex-column.justify-content-center.align-items-end
          %span.font-weight-bold= current_administrator.full_name
          - ary = current_administrator.role? ? [Administrator.human_attribute_name("role.#{current_administrator.role}")] : []
          - ary.unshift(current_administrator.employer.code) if !current_administrator.bant? && current_administrator.employer?
          %small.text-muted= ary.join(' - ')
      %li.nav-item.dropdown
        = button_tag(class: "nav-link dropdown-toggle py-0 btn mb-0", role: :button, data: {toggle: :dropdown}, aria: {haspopup: true, expanded: false}) do
          = image_user_tag current_administrator.photo, width: 40
        .dropdown-menu.dropdown-menu-right
          = link_to t('.account'), [:admin, :account], class: 'dropdown-item'
          = link_to t('.logout'), destroy_administrator_session_path, method: :delete, class: 'dropdown-item'
%aside.offcanvas-collapse
  .drawer
    %ul.list-group
      - nav_items.each do |item|
        - klass = %w(list-group-item)
        - klass << 'active' if controller.class.to_s.underscore =~ /#{ item.first.to_s }/
        - ary = [:admin] + item
        = link_to t(".#{ item.first.to_s }"), ary, class: klass
      %li.nav-item
        = link_to t('.logout'), destroy_administrator_session_path, method: :delete, class: "nav-link"
