- content_for :content do
  .rf-container.rf-py-5w
    .rf-grid-row
      .rf-col-12
        - if flash[:notice]
          .d-none.alert.alert-info= flash[:notice]
        - elsif flash[:error]
          .d-none.alert.alert-danger= flash[:error]
        - elsif flash[:success]
          .d-none.alert.alert-success= flash[:success]
      .rf-col-12.rf-col-md-3
        = render partial: '/account/navbar'
      .rf-col-12.rf-col-md-9
        = content_for?(:insider_content) ? yield(:insider_content) : yield
= render template: "layouts/application"
