!!!
%html{lang: I18n.locale, "data-rf-reset" => true}
  %head
    %title= [@page_title, current_organization.name].delete_if(&:blank?).join(' - ')
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    = stylesheet_pack_tag 'style'
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'bundle'
  %body
    = render partial: '/shared/header'
    .rf-container.rf-py-5w
      .rf-grid-row
        .rf-col-12
          - if flash[:notice]
            .d-none.alert.alert-info= flash[:notice]
          - elsif flash[:error]
            .d-none.alert.alert-danger= flash[:error]
          - elsif flash[:success]
            .d-none.alert.alert-success= flash[:success]
        .rf-col-12.rf-col-md-3
          = render partial: '/account/navbar'
        .rf-col-12.rf-col-md-9
          = yield
