- content_for :content do
  .fr-container.fr-py-5w
    .fr-grid-row
      .fr-col-12
        - if flash[:notice]
          .d-none.alert.alert-info= flash[:notice]
        - elsif flash[:error]
          .d-none.alert.alert-danger= flash[:error]
        - elsif flash[:success]
          .d-none.alert.alert-success= flash[:success]
      .fr-col-12.fr-col-md-3
        = render partial: '/account/navbar'
      .fr-col-12.fr-col-md-9
        = content_for?(:insider_content) ? yield(:insider_content) : yield
= render template: "layouts/application"
