!!!
%html{lang: I18n.locale}
  %head
    %title= [@page_title, current_organization.name].delete_if(&:blank?).join(' - ')
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{name: 'turbolinks-cache-control', content: 'no-preview'}
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Mono:400,500', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'admin-bundle', 'data-turbolinks-track': 'reload', defer: true
    = stylesheet_pack_tag 'admin-style', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = csp_meta_tag
  - style = 'overflow: hidden;' if controller.controller_name == 'job_offers' && controller.action_name == 'board'
  - klasses = %w(mt-0 pb-0) if !administrator_signed_in?
  %body{class: klasses, style: style}
    #__SVG_SPRITE_NODE__{'data-turbolinks-permanent': true}
    - if administrator_signed_in?
      = render partial: '/admin/shared/navbar'
      - if flash[:notice]
        .d-none.alert.alert-info= flash[:notice]
      - elsif flash[:error]
        .d-none.alert.alert-danger= flash[:error]
      - elsif flash[:success]
        .d-none.alert.alert-success= flash[:success]
      = content_for?(:content) ? yield(:content) : yield
    - else
      .container-fluid.devise
        .row
          .col-12.col-md-4.d-md-flex.flex-md-column.justify-content-center.bg-white.px-md-5.sidebar.pt-5.pt-md-0
            .logos.mb-5
              - if current_organization.logo_horizontal.present?
                = image_tag(current_organization.logo_horizontal.url, class: 'logo')
              - else
                = t('shared.navbar.home_link')
            - if flash[:notice]
              .alert.alert-info= flash[:notice]
            - if flash[:alert]
              .alert.alert-danger= flash[:alert]
            - elsif flash[:error]
              .alert.alert-danger= flash[:error]
            - elsif flash[:success]
              .alert.alert-success= flash[:success]
            = yield
          .col-12.col-md-8{style: "background-size: cover;background-image: url(#{ asset_pack_path('images/background.png') })"}
      = javascript_pack_tag 'devise-bundle'
