!!!
%html{lang: I18n.locale}
  %head
    %title= [@page_title, current_organization.service_name].delete_if(&:blank?).join(' - ')
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{name: 'turbo-cache-control', content: 'no-preview'}
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Mono:400,500', 'data-turbo-track': 'reload'
    = combobox_style_tag
    = javascript_include_tag 'admin', 'data-turbo-track': 'reload', defer: true
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbo-track': 'reload', defer: true
    = csrf_meta_tags
    = csp_meta_tag
  - style = 'overflow: hidden;' if controller.controller_name == 'job_offers' && controller.action_name == 'board'
  - klasses = []
  - klasses << %w(mt-0 pb-0) if !administrator_signed_in?
  - klasses << 'devise' if devise_controller?
  %body{class: klasses, style: style}
    #__SVG_SPRITE_NODE__{'data-turbo-permanent': true}
    %button.scroll.btn.btn-primary.btn-raised.d-flex.justify-content-center.align-items-center{data: { controller: "scroll", action: "scroll#top"}}
      = fa_icon 'chevron-up'
    - if administrator_signed_in?
      = render partial: '/admin/shared/navbar'
      - if flash[:notice]
        .d-none.alert.alert-info= flash[:notice]
      - elsif flash[:error]
        .d-none.alert.alert-danger= flash[:error]
      - elsif flash[:success]
        .d-none.alert.alert-success= flash[:success]
      = content_for?(:content) ? yield(:content) : yield
    - else
      .container
        .row.justify-content-center
          .col-12.col-md-6.d-md-flex.flex-md-column.justify-content-center.bg-white.p-5.mt-5
            .logos.mb-5
              - if current_organization.logo_horizontal.present?
                = image_tag(current_organization.logo_horizontal.url, class: 'logo')
              - else
                = t('shared.navbar.home_link')
            - if flash[:notice]
              .alert.alert-info= flash[:notice]
            - if flash[:alert]
              .alert.alert-danger= flash[:alert]
            - elsif flash[:error]
              .alert.alert-danger= flash[:error]
            - elsif flash[:success]
              .alert.alert-success= flash[:success]
            = yield

    = render partial: '/shared/modal'
