!!!
%html{lang: I18n.locale}
  %head
    %title= [@page_title, 'Civils de la Défense'].delete_if(&:blank?).join(' - ')
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Mono:400,500'
    = stylesheet_pack_tag 'style'
    = csrf_meta_tags
    = csp_meta_tag
  %body
    = render partial: '/shared/navbar'
    .container
      .row
        .col-12.col-md-9.mx-md-auto
          .card.mb-5
            .card-body
              = yield
    = render partial: '/shared/footer'
    = javascript_pack_tag 'bundle'
