!!!
%html{lang: I18n.locale, "data-rf-reset" => true}
  %head
    %title= [@page_title, current_organization.service_name].delete_if(&:blank?).join(' - ')
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    - if controller.action_name == 'apply'
      %meta{name: :robots, content: 'noindex nofollow'}
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload', defer: true
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('favicon-16x16.png'), rel: 'icon', type: 'image/png', sizes: '16x16'
    = favicon_link_tag asset_path('favicon-32x32.png'), rel: 'icon', type: 'image/png', sizes: '32x32'
  %body{data: { controller: "timeoutable", timeoutable_timeout_in_value: @timeout_in }}
    #__SVG_SPRITE_NODE__{'data-turbo-permanent': true}
    = render partial: '/shared/header'
    = render partial: '/shared/timeout'
    %button.scroll.rf-btn.d-flex.justify-content-center.align-items-center{data: { controller: "scroll", action: "scroll#top"}}
      = fa_icon 'chevron-up', class: 'rf-icon-xl scroll-icon'
    - if flash[:notice] || flash[:alert] || flash[:error] || flash[:success]
      .rf-container
        .rf-grid-row
          - klasses = devise_controller? ? %w(col-md-6 devise) : (controller.action_name == "show" && controller.controller_name != 'pages' ? %w() : %w(col-md-9))
          .rf-col-12.mx-md-auto{class: klasses}
            - if flash[:notice]
              .fixed-bottom.alert.alert-info= flash[:notice]
            - elsif flash[:error] || flash[:alert]
              .fixed-bottom.alert.alert-danger= flash[:error] || flash[:alert]
            - elsif flash[:success]
              .fixed-bottom.alert.alert-success= flash[:success]
    = content_for?(:content) ? yield(:content) : yield
    = render partial: '/shared/footer'
