!!!
%html{lang: I18n.locale}
  %head
    %title= [@page_title, 'Civils de la Défense'].delete_if(&:blank?).join(' - ')
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Mono:400,500'
    = stylesheet_pack_tag 'style'
    = csrf_meta_tags
    = csp_meta_tag
  %body
    = render partial: '/shared/navbar'
    .container.py-5
      .row
        - klasses = devise_controller? ? %w(col-md-6 devise) : (controller.action_name == "show" ? %w() : %w(col-md-9))
        .col-12.mx-md-auto{class: klasses}
          - if flash[:notice]
            .alert.alert-info.mb-5= flash[:notice]
          - elsif flash[:error]
            .alert.alert-danger.mb-5= flash[:error]
          - elsif flash[:success]
            .alert.alert-success.mb-5= flash[:success]
          = yield
    = render partial: '/shared/footer'
    = javascript_pack_tag 'bundle'
