- content_for :insider_content do
  .rf-container
    .rf-grid-row
      = render partial: '/account/job_applications/breadcrumb', locals: {job_application: @job_application}
    .rf-grid-row
      %h2.rf-h3.d-flex.flex-column.rf-mt-0.rf-mb-0
        Votre candidature à l'offre :
        %small= @job_offer.title
    .rf-grid-row.rf-mt-3w
      .rf-col-12
        .h5.text-quinary.text-center.mb-4 Suivi de candidature
        = render partial: '/account/job_applications/state_stepper', locals: {job_application: @job_application}
    .rf-grid-row.rf-mt-3w
      .rf-tabs.w-100{data: {controller: 'rf-tab-management'}}
        %ul.rf-tabs__list{"aria-label" => "[Candidature]", role: "tablist"}
          %li{role: "presentation"}
            - emails_tab = controller.controller_name == 'job_applications' && controller.action_name  == 'show'
            = link_to [:account, @job_application], class: 'rf-tabs__tab', aria: {controls: 'tabpanel-emails', selected: emails_tab}, role: 'tab', tabindex: emails_tab ? 0 : -1, title: t('.nav_emails') do
              = t('.nav_emails')

          %li{role: "presentation"}
            - docs_tab = controller.controller_name == 'job_application_files' && controller.action_name  == 'index'
            = link_to [:account, @job_application, :job_application_files], class: 'rf-tabs__tab', aria: {controls: 'tabpanel-documents', selected: docs_tab}, role: 'tab', tabindex: docs_tab ? 0 : -1, title: t('.nav_files', count: 0) do
              = t('.nav_files', count: 0)

          %li{role: "presentation"}
            - job_offer_tab = controller.controller_name == 'job_applications' && controller.action_name  == 'job_offer'
            = link_to [:job_offer, :account, @job_application], class: 'rf-tabs__tab', aria: {controls: 'tabpanel-job-offer', selected: job_offer_tab}, role: 'tab', tabindex: job_offer_tab ? 0 : -1, title: t('.nav_offer') do
              = t('.nav_offer')

        - if emails_tab
          #tabpanel-emails.rf-tabs__panel{role: :tabpanel, aria_labelledby: "tabpanel-emails", 'data-rf-tab-management-target' => 'panel', tabindex: emails_tab ? 0 : -1, class: emails_tab ? 'rf-tabs__panel--selected' : nil}
            = yield

        - if docs_tab
          #tabpanel-documents.rf-tabs__panel{role: :tabpanel, aria_labelledby: "tabpanel-documents", 'data-rf-tab-management-target' => 'panel', tabindex: docs_tab ? 0 : -1, class: docs_tab ? 'rf-tabs__panel--selected' : nil}
            = yield

        - if job_offer_tab
          #tabpanel-job-offer.rf-tabs__panel{role: :tabpanel, aria_labelledby: "tabpanel-job-offer", 'data-rf-tab-management-target' => 'panel', tabindex: job_offer_tab ? 0 : -1, class: job_offer_tab ? 'rf-tabs__panel--selected' : nil}
            = yield

= render template: "layouts/account"
